Repository shiguredo/webrtc-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, clang-format

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  entry: clang-format --dry-run --Werror
  language: system

0113 open 外部で作成した AudioDeviceModule を Rust 側で取り込めるようにする
  issues/0113-add-adopt-external-audio-device-module.md
  issues/SEQUENCE
Due: none

0113 polished 外部で作成した AudioDeviceModule を Rust 側で取り込めるようにする
  issues/0113-add-adopt-external-audio-device-module.md
Due: none

0113 外部で作成した AudioDeviceModule を Rust 側で取り込めるようにする
  CHANGES.md
  skills/shiguredo-webrtc/SKILL.md
  src/api/audio_device_module.rs
  src/helper/ref_count.rs
  src/lib.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

0113 解決方法を追記する
  issues/0113-add-adopt-external-audio-device-module.md
Due: none

0113 closed 外部で作成した AudioDeviceModule を Rust 側で取り込めるようにする
  issues/closed/0113-add-adopt-external-audio-device-module.md
Due: none

webrtc-build を m154.8037.4.1 に上げる
  .vscode/launch.json
  CHANGES.md
  Cargo.toml
  skills/libwebrtc-c/SKILL.md
  skills/shiguredo-webrtc/SKILL.md
  webrtc/RULES.md
Due: none

0113 取り込み API の doc と Safety の契約を明確にする
  CHANGES.md
  skills/shiguredo-webrtc/SKILL.md
  src/api/audio_device_module.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

0113 レビュー指摘に合わせて doc の契約と例を直す
  CHANGES.md
  issues/closed/0113-add-adopt-external-audio-device-module.md
  skills/shiguredo-webrtc/SKILL.md
  src/api/audio_device_module.rs
Due: cargo-fmt, cargo-clippy

0113 スレッド契約の主体とプラットフォームの記述を直す
  issues/closed/0113-add-adopt-external-audio-device-module.md
  src/api/audio_device_module.rs
Due: cargo-fmt, cargo-clippy

0113 取り込み API を NonNull の引数と所有側 1 つに絞る
  CHANGES.md
  issues/closed/0113-add-adopt-external-audio-device-module.md
  skills/shiguredo-webrtc/SKILL.md
  src/api/audio_device_module.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

0113 取り込み API の doc とテストをレビュー指摘に合わせる
  CHANGES.md
  issues/closed/0113-add-adopt-external-audio-device-module.md
  src/api/audio_device_module.rs
  src/helper/ref_count.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

0113 冗長なコメントを削除
  src/api/audio_device_module.rs
Due: cargo-fmt, cargo-clippy

外部で作成した AudioDeviceModule を Rust 側で取り込めるようにする (#105)
  CHANGES.md
  issues/closed/0113-add-adopt-external-audio-device-module.md
  skills/shiguredo-webrtc/SKILL.md
  src/api/audio_device_module.rs
  src/lib.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

[canary] Bump version to 0.154.1-canary.5
  Cargo.lock
  Cargo.toml
Due: none

0109 解決方法を追記する
  issues/0109-update-webrtc-build.md
Due: none

0109 closed webrtc-build を m154.8037.4.1 に更新する
  issues/closed/0109-update-webrtc-build.md
Due: none

0107 polished safe API だけでデータ競合に到達できる箇所を無くす
  issues/0107-bug-safe-api-data-race.md
Due: none

0107 safe API からデータ競合に到達する経路を解消する
  CHANGES.md
  README.md
  examples/whep/src/main.rs
  examples/whip/src/main.rs
  issues/0107-bug-safe-api-data-race.md
  skills/shiguredo-webrtc/SKILL.md
  src/api/audio.rs
  src/api/audio_device_module.rs
  src/api/data_channel.rs
  src/api/dtls_transport.rs
  src/api/peer_connection.rs
  src/api/video.rs
  src/api/video_codec_common.rs
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/rtc_base/logging.rs
  src/tests.rs
  src/util.rs
  tests/test_libyuv.rs
  webrtc/src/webrtc_c/api/media_stream_interface.cc
  webrtc/src/webrtc_c/api/media_stream_interface.h
  webrtc/src/webrtc_c/rtc_base/logging.h
Due: cargo-fmt, cargo-clippy, clang-format

0107 解決方法を追記する
  issues/0107-bug-safe-api-data-race.md
Due: none

0107 closed safe API だけでデータ競合に到達できる箇所を無くす
  issues/closed/0107-bug-safe-api-data-race.md
Due: none

0.154.1 をリリースする
  CHANGES.md
  Cargo.lock
  Cargo.toml
Due: none

libwebrtc を m155 に上げてバージョンを 0.155.0 に上げる
  .vscode/launch.json
  CHANGES.md
  Cargo.lock
  Cargo.toml
  README.md
  skills/libwebrtc-c/SKILL.md
  skills/shiguredo-webrtc/SKILL.md
  webrtc/RULES.md
Due: none

0.155.0 をリリースする
  CHANGES.md
Due: none

ilibwebrtc m156 (m156.8078.3.2) に上げる
  CHANGES.md
  Cargo.toml
Due: none

libwebrtc m156 (m156.8078.3.3) に上げる
  CHANGES.md
  Cargo.toml
Due: none

0.156.0 をリリースする
  CHANGES.md
  Cargo.lock
  Cargo.toml
Due: none

0114 open LogSinkHandler の callback が同時に呼ばれると未定義動作になる
  issues/0114-bug-log-sink-concurrent-callback.md
  issues/SEQUENCE
Due: none

0107 LogSinkHandler の対応を 0114 に分離する
  issues/0107-bug-safe-api-data-race.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  clang-format: any of: ^webrtc/src/ and \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
