Repository shiguredo/webrtc-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, clang-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
      - id: clang-format
        name: clang-format
        entry: clang-format --dry-run --Werror
        language: system
        types_or: [c, c++]
        files: ^webrtc/src/

Feature/fix iroiro (#63)
  CHANGES.md
  README.md
  issues/closed/0066-add-libyuv-mjpg-to-i420-nv12-wrappers.md
  issues/closed/0067-add-libyuv-i420-rotate-wrapper.md
  issues/closed/0068-doc-readme-libyuv-i420-nv12-copy.md
  issues/closed/0069-refactor-libyuv-allow-to-expect.md
  issues/closed/0070-refactor-libyuv-tests-split.md
  src/lib.rs
  src/libyuv.rs
  src/tests.rs
  tests/test_libyuv.rs
Due: cargo-fmt, cargo-clippy

libwebrtc のバージョンを上げる
  CHANGES.md
  Cargo.lock
  Cargo.toml
Due: none

リリース準備
  CHANGES.md
  Cargo.lock
  Cargo.toml
Due: none

変更履歴のエントリ順を修正する
  CHANGES.md
Due: none

AdaptedAudioTrackSource の C API を追加する
  CHANGES.md
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/media/base/adapted_audio_track_source.cc
  webrtc/src/webrtc_c/media/base/adapted_audio_track_source.h
Due: clang-format

bits_per_sample が 16 固定の根拠をコメントに追記する
  webrtc/src/webrtc_c/media/base/adapted_audio_track_source.cc
Due: clang-format

clang-format のフォーマット違反を修正する
  webrtc/src/webrtc_c/media/base/adapted_audio_track_source.cc
Due: clang-format

0071 polished ダミー PCM 音声データを注入できる DummyAudioSource を C ラッパーに追加する
  issues/0071-add-dummy-audio-support.md
  issues/SEQUENCE
Due: none

0072 polished libwebrtc のデバッグビルドに対応する
  issues/0072-add-debug-build-support.md
  issues/SEQUENCE
Due: none

0072 polished libwebrtc のデバッグビルドに対応する
  issues/0072-add-debug-build-support.md
Due: none

0072 libwebrtc のデバッグビルドに対応する
  CHANGES.md
  Cargo.toml
  build.rs
  webrtc/CMakeLists.txt
Due: cargo-fmt, cargo-clippy

NDEBUG を明示的に定義する
  webrtc/CMakeLists.txt
Due: none

0072 WEBRTC_BUILD_ROOT の分岐を if/else の2ルート構造に整理する
  webrtc/CMakeLists.txt
Due: none

libwebrtc のデバッグビルドを利用可能にする (#65)
  CHANGES.md
  Cargo.toml
  build.rs
  webrtc/CMakeLists.txt
Due: cargo-fmt, cargo-clippy

Ubuntu 26.04 LTS に対応する
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGES.md
  Cargo.toml
  README.md
  build.rs
  skills/libwebrtc_c/SKILL.md
  sysroot/ubuntu-26.04_armv8.json
  webrtc/CMakeLists.txt
Due: cargo-fmt, cargo-clippy

prek.toml を shiguredo-rust 規約に合わせて整備する
  .vscode/launch.json
  prek.toml
  webrtc/.clang-format
  webrtc/.gitignore
  webrtc/run.py
Due: none

prek.toml を shiguredo-rust 規約に合わせて整備する (#66)
  .vscode/launch.json
  prek.toml
  webrtc/.clang-format
  webrtc/.gitignore
  webrtc/run.py
Due: none

更新
  Cargo.lock
  Cargo.toml
Due: none

MSRV (rust-version) を 1.93 に上げる
  CHANGES.md
  Cargo.toml
  README.md
  skills/shiguredo_webrtc/SKILL.md
Due: none

整備
  AGENTS.md
Due: none

tombi-pre-commit を v1.2.4 から v1.2.5 に更新する
  prek.toml
Due: none

0073-0080 open
  issues/0073-bug-whip-whep-c-observer-cbs-missing.md
  issues/0074-bug-objc-factory-double-retain.md
  issues/0075-bug-create-modular-signaling-thread-null-guard.md
  issues/0076-bug-thread-blocking-call-send-bound.md
  issues/0077-bug-get-stats-callback-box-leak.md
  issues/0078-bug-scoped-ref-from-raw-safety.md
  issues/0079-bug-observer-sink-lifetime-contract.md
  issues/0080-bug-libyuv-convert-to-i420-src-len-check.md
  issues/SEQUENCE
Due: none

変更履歴を更新する
  CHANGES.md
Due: none

libwebrtc m151 に上げる
  CHANGES.md
  Cargo.lock
  Cargo.toml
  README.md
Due: none

SKILL.md の現行バージョンを 0.151.0 に更新する
  skills/shiguredo_webrtc/SKILL.md
Due: none

rtc_base/logging.h の RTC_LOG_INFO マクロを clang-format に合わせる
  webrtc/src/webrtc_c/rtc_base/logging.h
Due: clang-format

WebRTC Encoded Transform (フレーム変換) に対応する
  CHANGES.md
  Cargo.lock
  Cargo.toml
  src/api/frame_transformer.rs
  src/api/mod.rs
  src/api/rtp.rs
  src/api/video.rs
  src/api/video_codec_specifics.rs
  src/api/video_encoder.rs
  src/ref_count.rs
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/RULES.md
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/api/frame_transformer_interface.cc
  webrtc/src/webrtc_c/api/frame_transformer_interface.h
  webrtc/src/webrtc_c/api/rtp_receiver_interface.cc
  webrtc/src/webrtc_c/api/rtp_receiver_interface.h
  webrtc/src/webrtc_c/api/rtp_sender_interface.cc
  webrtc/src/webrtc_c/api/rtp_sender_interface.h
  webrtc/src/webrtc_c/api/transport/rtp/dependency_descriptor.cc
  webrtc/src/webrtc_c/api/transport/rtp/dependency_descriptor.h
  webrtc/src/webrtc_c/api/video/adapted_video_track_source.cc
  webrtc/src/webrtc_c/api/video/adapted_video_track_source.h
  webrtc/src/webrtc_c/api/video/video_content_type.cc
  webrtc/src/webrtc_c/api/video/video_content_type.h
  webrtc/src/webrtc_c/api/video/video_frame_metadata.cc
  webrtc/src/webrtc_c/api/video/video_frame_metadata.h
  webrtc/src/webrtc_c/common.h
  webrtc/src/webrtc_c/common.impl.h
  webrtc/src/webrtc_c/modules/video_coding/codecs/h264/include/h264_globals.cc
  webrtc/src/webrtc_c/modules/video_coding/codecs/h264/include/h264_globals.h
  webrtc/src/webrtc_c/modules/video_coding/codecs/vp8/include/vp8_globals.cc
  webrtc/src/webrtc_c/modules/video_coding/codecs/vp8/include/vp8_globals.h
  webrtc/src/webrtc_c/modules/video_coding/codecs/vp9/include/vp9_globals.cc
  webrtc/src/webrtc_c/modules/video_coding/codecs/vp9/include/vp9_globals.h
  webrtc/src/webrtc_c/std.cc
  webrtc/src/webrtc_c/std.h
Due: cargo-fmt, cargo-clippy, clang-format

VideoFrameMetadata に基本フィールドの setter とテストを追加する
  src/api/frame_transformer.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

フレーム変換ハンドラを基底型 TransformableFrame ベースに再設計する
  CHANGES.md
  src/api/frame_transformer.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

フレーム変換ハンドラを Sync 化して共有参照で呼び出す
  src/api/frame_transformer.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

div_ceil を手実装せず組み込みメソッドを使う
  tests/test_libyuv.rs
Due: cargo-fmt, cargo-clippy

フレーム変換でメタデータとキャプチャ時間の書き換えを可能にする
  src/api/frame_transformer.rs
Due: cargo-fmt, cargo-clippy

whip.cpp の adapted_video_track_source.h の include パスを m152 に合わせる
  webrtc/src/whip.cpp
Due: clang-format

FrameTransformer の複数エンドポイント共有を非対応と明記する
  src/api/frame_transformer.rs
Due: cargo-fmt, cargo-clippy

フレーム変換 API の getter 命名を統一して base メソッドを Deref 化する
  src/api/frame_transformer.rs
Due: cargo-fmt, cargo-clippy

VideoFrameMetadata に Clone と Debug を追加する
  src/api/frame_transformer.rs
  src/api/video_codec_specifics.rs
  src/tests.rs
  webrtc/RULES.md
  webrtc/src/webrtc_c/api/video/video_frame_metadata.cc
  webrtc/src/webrtc_c/api/video/video_frame_metadata.h
Due: cargo-fmt, cargo-clippy, clang-format

0030 polished SSLCertChain_Get が返す借用ポインタの寿命を明確化する
  issues/0030-bug-webrtc-c-ssl-cert-chain-get-lifetime.md
Due: none

0031 polished webrtc_Thread_Start の戻り値破棄に対処する
  issues/0031-bug-webrtc-c-thread-start-return-and-quit.md
Due: none
