Repository shiguredo/webrtc-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, clang-format

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  entry: clang-format --dry-run --Werror
  language: system

0105 フィールドトライアル関連のテストを追加する
  src/tests.rs
Due: cargo-fmt, cargo-clippy

0105 ドキュメントと変更履歴を更新する
  CHANGES.md
  README.md
  skills/libwebrtc-c/SKILL.md
  skills/shiguredo-webrtc/SKILL.md
Due: none

0105 解決方法を追記する
  issues/0105-add-webrtc-field-trials.md
Due: none

0105 closed libwebrtc のフィールドトライアルを指定できるようにする
  issues/closed/0105-add-webrtc-field-trials.md
Due: none

libwebrtc のフィールドトライアルを指定できるようにする (#100)
  CHANGES.md
  Cargo.toml
  README.md
  issues/closed/0105-add-webrtc-field-trials.md
  skills/libwebrtc-c/SKILL.md
  skills/shiguredo-webrtc/SKILL.md
  src/api/environment.rs
  src/api/peer_connection.rs
  src/error.rs
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/RULES.md
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/api/audio/audio_device.cc
  webrtc/src/webrtc_c/api/audio/audio_device.h
  webrtc/src/webrtc_c/api/audio_codecs/audio_decoder_factory.cc
  webrtc/src/webrtc_c/api/audio_codecs/audio_decoder_factory.h
  webrtc/src/webrtc_c/api/audio_codecs/audio_encoder_factory.cc
  webrtc/src/webrtc_c/api/audio_codecs/audio_encoder_factory.h
  webrtc/src/webrtc_c/api/environment.cc
  webrtc/src/webrtc_c/api/environment.h
  webrtc/src/webrtc_c/api/environment/environment.cc
  webrtc/src/webrtc_c/api/environment/environment.h
  webrtc/src/webrtc_c/api/environment/environment_factory.cc
  webrtc/src/webrtc_c/api/environment/environment_factory.h
  webrtc/src/webrtc_c/api/field_trials.cc
  webrtc/src/webrtc_c/api/field_trials.h
  webrtc/src/webrtc_c/api/field_trials_view.cc
  webrtc/src/webrtc_c/api/field_trials_view.h
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
  webrtc/src/webrtc_c/api/video_codecs/video_decoder_factory.cc
  webrtc/src/webrtc_c/api/video_codecs/video_decoder_factory.h
  webrtc/src/webrtc_c/api/video_codecs/video_encoder_factory.cc
  webrtc/src/webrtc_c/api/video_codecs/video_encoder_factory.h
  webrtc/src/webrtc_c/media/engine/simulcast_encoder_adapter.cc
  webrtc/src/webrtc_c/media/engine/simulcast_encoder_adapter.h
  webrtc/src/webrtc_c/sdk/android/native_api/audio_device_module/audio_device_android.h
Due: cargo-fmt, cargo-clippy, clang-format

CODEBASE.md 追加
  CODEBASE.md
Due: none

[canary] Bump version to 0.154.1-canary.0
  Cargo.lock
  Cargo.toml
Due: none

0106 open FieldTrialsViewRef に is_disabled を、EnvironmentRef に to_owned を追加する
  issues/0106-add-field-trials-is-disabled-and-environment-to-owned.md
  issues/SEQUENCE
Due: none

0106 FieldTrialsViewRef と EnvironmentRef の不足 API を追加する
  CHANGES.md
  README.md
  issues/0106-add-field-trials-missing-apis.md
  skills/shiguredo-webrtc/SKILL.md
  src/api/environment.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/field_trials_view.cc
  webrtc/src/webrtc_c/api/field_trials_view.h
Due: cargo-fmt, cargo-clippy, clang-format

0106 解決方法を追記する
  issues/0106-add-field-trials-missing-apis.md
Due: none

0106 closed FieldTrialsViewRef と EnvironmentRef の不足 API を追加する
  issues/closed/0106-add-field-trials-missing-apis.md
Due: none

0106 コメント修正
  src/api/environment.rs
Due: cargo-fmt, cargo-clippy

FieldTrialsViewRef に is_disabled と lookup を、EnvironmentRef に to_owned を追加する (#101)
  CHANGES.md
  README.md
  issues/SEQUENCE
  issues/closed/0106-add-field-trials-missing-apis.md
  skills/shiguredo-webrtc/SKILL.md
  src/api/environment.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/field_trials_view.cc
  webrtc/src/webrtc_c/api/field_trials_view.h
Due: cargo-fmt, cargo-clippy, clang-format

[canary] Bump version to 0.154.1-canary.1
  Cargo.lock
  Cargo.toml
Due: none

0104 open safe API だけで use-after-free に到達できる箇所を無くす
  issues/0104-bug-safe-api-use-after-free.md
  issues/0104-bug-thread-dependencies-lifetime.md
Due: none

0107 open safe API だけでデータ競合に到達できる箇所を無くす
  issues/0107-bug-safe-api-data-race.md
  issues/SEQUENCE
Due: none

0108 open コンテナの要素を直接書き換える可変アクセサを追加する
  issues/0108-add-container-element-mut-accessors.md
  issues/SEQUENCE
Due: none

0108 コンテナの要素を直接書き換える可変アクセサを追加する
  src/api/peer_connection.rs
  src/api/rtp.rs
  src/api/video_codec_common.rs
  src/api/video_codec_specifics.rs
  src/api/video_encoder.rs
  src/cxxstd.rs
  src/lib.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/video_codecs/video_codec.cc
  webrtc/src/webrtc_c/api/video_codecs/video_codec.h
Due: cargo-fmt, cargo-clippy, clang-format

0108 変更履歴とドキュメントを更新する
  CHANGES.md
  README.md
  skills/shiguredo-webrtc/SKILL.md
Due: none

0108 解決方法を追記する
  issues/0108-add-container-element-mut-accessors.md
Due: none

0108 closed コンテナの要素を直接書き換える可変アクセサを追加する
  issues/closed/0108-add-container-element-mut-accessors.md
Due: none

コンテナの要素を直接書き換える可変アクセサを追加する (#102)
  CHANGES.md
  README.md
  issues/closed/0108-add-container-element-mut-accessors.md
  skills/shiguredo-webrtc/SKILL.md
  src/api/peer_connection.rs
  src/api/rtp.rs
  src/api/video_codec_common.rs
  src/api/video_codec_specifics.rs
  src/api/video_encoder.rs
  src/cxxstd.rs
  src/lib.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/video_codecs/video_codec.cc
  webrtc/src/webrtc_c/api/video_codecs/video_codec.h
Due: cargo-fmt, cargo-clippy, clang-format

[canary] Bump version to 0.154.1-canary.2
  Cargo.lock
  Cargo.toml
Due: none

ツールチェーンを MSRV と同じ 1.93 に固定する
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGES.md
  Cargo.toml
  examples/whep/Cargo.toml
  examples/whip/Cargo.toml
  rust-toolchain.toml
Due: none

webrtc-build を m154.8037.3.0 に上げる
  .vscode/launch.json
  CHANGES.md
  Cargo.toml
  skills/libwebrtc-c/SKILL.md
  skills/shiguredo-webrtc/SKILL.md
  webrtc/RULES.md
Due: none

[canary] Bump version to 0.154.1-canary.3
  Cargo.lock
  Cargo.toml
Due: none

0109 open webrtc-build を m154.8037.4.1 に更新する
  issues/0109-update-webrtc-build.md
  issues/SEQUENCE
Due: none

0110 open aarch64-apple-ios-sim 向け prebuilt を追加する
  issues/0110-add-ios-simulator-prebuilt.md
  issues/SEQUENCE
Due: none

整備
  CODEBASE.md
Due: none

0111 open 参照カウントで複製できる公開型に Clone を実装する
  issues/0111-add-clone-for-refcounted-wrappers.md
  issues/SEQUENCE
Due: none

0112 open SignalingState の変化を購読できるようにする
  issues/0112-add-signaling-state.md
  issues/SEQUENCE
Due: none

0111 参照カウントで複製できる公開型に Clone を実装する
  CHANGES.md
  src/api/audio.rs
  src/api/data_channel.rs
  src/api/dtls_transport.rs
  src/api/peer_connection.rs
  src/api/rtp.rs
  src/api/video_codec_common.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

0111 closed 参照カウントで複製できる公開型に Clone を実装する
  issues/closed/0111-add-clone-for-refcounted-wrappers.md
Due: none

0111 解決方法を追記する
  issues/0111-add-clone-for-refcounted-wrappers.md
Due: none

参照カウントで複製できる公開型に Clone を実装する (#103)
  CHANGES.md
  issues/closed/0111-add-clone-for-refcounted-wrappers.md
  src/api/audio.rs
  src/api/data_channel.rs
  src/api/dtls_transport.rs
  src/api/peer_connection.rs
  src/api/rtp.rs
  src/api/video_codec_common.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

0112 SignalingState の変化を購読できるようにする
  CHANGES.md
  skills/shiguredo-webrtc/SKILL.md
  src/api/peer_connection.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
  webrtc/src/whep.c
  webrtc/src/whip.c
Due: cargo-fmt, cargo-clippy, clang-format

0112 解決方法を追記する
  issues/0112-add-signaling-state.md
Due: none

0112 closed SignalingState の変化を購読できるようにする
  issues/closed/0112-add-signaling-state.md
Due: none

SignalingState の変化を購読できるようにする (#104)
  CHANGES.md
  issues/closed/0112-add-signaling-state.md
  skills/shiguredo-webrtc/SKILL.md
  src/api/peer_connection.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
  webrtc/src/whep.c
  webrtc/src/whip.c
Due: cargo-fmt, cargo-clippy, clang-format

[canary] Bump version to 0.154.1-canary.4
  Cargo.lock
  Cargo.toml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  clang-format: any of: ^webrtc/src/ and \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
