Repository shiguredo/webrtc-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, clang-format

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  entry: clang-format --dry-run --Werror
  language: system

0103 未使用の可変借用ハンドルを削除する
  README.md
  src/api/environment.rs
  src/api/jsep.rs
Due: cargo-fmt, cargo-clippy

0103 クレート内部専用コンストラクタの doc を修正する
  src/api/audio.rs
  src/api/video_decoder.rs
  src/helper/ref_count.rs
Due: cargo-fmt, cargo-clippy

0103 借用型のスキルに規約を追記する
  skills/shiguredo-webrtc/SKILL.md
Due: none

0103 解決方法を修正する
  issues/closed/0103-refactor-readonly-ref-types.md
Due: none

0103 読み取り経路で const 版の getter を使う
  src/api/audio.rs
  src/api/frame_transformer.rs
  src/api/rtp.rs
  src/api/video_codec_specifics.rs
  src/api/video_decoder.rs
  src/api/video_encoder.rs
Due: cargo-fmt, cargo-clippy

0103 Buffer の可変データ取得 API を追加する
  CHANGES.md
  src/rtc_base/buffer.rs
  src/tests.rs
  webrtc/src/webrtc_c/rtc_base/buffer.cc
  webrtc/src/webrtc_c/rtc_base/buffer.h
Due: cargo-fmt, cargo-clippy, clang-format

0103 const 性の規約とスキルを修正する
  skills/libwebrtc-c/SKILL.md
  skills/shiguredo-webrtc/SKILL.md
  webrtc/RULES.md
Due: none

0103 AudioTransport の借用ハンドルにライフタイムを付ける
  CHANGES.md
  src/api/audio_device_module.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

0103 借用型のスキルに Ptr の規約を追記する
  skills/shiguredo-webrtc/SKILL.md
Due: none

0103 借用ハンドルの回帰テストを追加する
  src/lib.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

0103 テスト方針をスキルに追記する
  skills/shiguredo-webrtc/SKILL.md
Due: none

0103 テストの clippy 警告を修正する
  src/tests.rs
Due: cargo-fmt, cargo-clippy

0103 clippy に --all-targets を追加する
  .github/workflows/ci.yml
  prek.toml
Due: none

0103 README とスキルから ConstNonNull を外す
  README.md
  skills/shiguredo-webrtc/SKILL.md
Due: none

0103 ConstNonNull をクレート内部の型にする
  CHANGES.md
  src/const_non_null.rs
  src/lib.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

0103 null 検査の panic メッセージを英語にする
  src/helper/non_null.rs
Due: cargo-fmt, cargo-clippy

0103 null 検査の what に渡す名前を修正する
  src/api/audio.rs
  src/api/video.rs
  src/rtc_base/logging.rs
  src/rtc_base/ssl_certificate.rs
Due: cargo-fmt, cargo-clippy

0103 借用型の PhantomData を実体に揃える
  src/api/peer_connection.rs
  src/api/rtp.rs
  src/cxxstd.rs
Due: cargo-fmt, cargo-clippy

0103 テストのメッセージと expect を修正する
  src/tests.rs
Due: cargo-fmt, cargo-clippy

0103 所有権を受け取る clone_from_raw を pub(crate) にする
  CHANGES.md
  src/api/rtp.rs
Due: cargo-fmt, cargo-clippy

0103 本体コードの panic メッセージを英語にする
  src/api/audio.rs
  src/api/frame_transformer.rs
  src/api/jsep.rs
  src/api/peer_connection.rs
  src/api/video_codec_common.rs
  src/api/video_codec_specifics.rs
  src/api/video_encoder.rs
  src/cxxstd.rs
  src/rtc_base/buffer.rs
  src/rtc_base/crypto_random.rs
  src/rtc_base/logging.rs
Due: cargo-fmt, cargo-clippy

0103 Error の表示メッセージを英語にする
  CHANGES.md
  src/api/audio_device_module.rs
  src/error.rs
Due: cargo-fmt, cargo-clippy

0103 webrtc_RtpTransceiverInit_set_send_encodings の引数を const にする
  CHANGES.md
  webrtc/src/webrtc_c/api/rtp_transceiver_interface.cc
  webrtc/src/webrtc_c/api/rtp_transceiver_interface.h
Due: clang-format

0103 optional ヘルパーの一覧に get_optional_ptr_const を追記する
  src/helper/optional.rs
Due: cargo-fmt, cargo-clippy

0103 クレート内部の型のメソッドを pub(crate) に揃える
  src/const_non_null.rs
  src/helper/ref_count.rs
Due: cargo-fmt, cargo-clippy

0103 PhantomData と C API の const 性を直す
  src/api/rtp.rs
  webrtc/src/webrtc_c/api/video/video_frame_buffer.cc
  webrtc/src/webrtc_c/api/video/video_frame_buffer.h
Due: cargo-fmt, cargo-clippy, clang-format

0103 テストの恒真な検証を直す
  src/lib.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

0103 コメントと規約の記述を直す
  skills/libwebrtc-c/SKILL.md
  src/api/video_encoder.rs
  src/rtc_base/buffer.rs
  webrtc/RULES.md
Due: cargo-fmt, cargo-clippy

0104 open 依存に設定した Thread を先に drop すると use-after-free になる契約を直す
  issues/0104-bug-thread-dependencies-lifetime.md
  issues/SEQUENCE
Due: none

0103 RawBufferWriter::write を unsafe fn にする
  CHANGES.md
  src/tests.rs
  src/util.rs
Due: cargo-fmt, cargo-clippy

コメント修正
  src/api/rtp.rs
Due: cargo-fmt, cargo-clippy

0103 NetworkManagerRef を共有可変ハンドルにする
  CHANGES.md
  README.md
  skills/shiguredo-webrtc/SKILL.md
  src/api/peer_connection.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

CHANGES 更新
  CHANGES.md
Due: none

0103 set_proxy の doc に生存期間の契約を追記する
  src/api/peer_connection.rs
Due: cargo-fmt, cargo-clippy

0105 open libwebrtc のフィールドトライアルを指定できるようにする
  issues/0105-add-webrtc-field-trials.md
  issues/SEQUENCE
Due: none

0105 libwebrtc を m154.8037.1.2 に上げる
  Cargo.toml
Due: none

0105 webrtc_c の environment.h を api/environment/ に移動する
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/api/audio/audio_device.cc
  webrtc/src/webrtc_c/api/audio/audio_device.h
  webrtc/src/webrtc_c/api/audio_codecs/audio_decoder_factory.cc
  webrtc/src/webrtc_c/api/audio_codecs/audio_decoder_factory.h
  webrtc/src/webrtc_c/api/audio_codecs/audio_encoder_factory.cc
  webrtc/src/webrtc_c/api/audio_codecs/audio_encoder_factory.h
  webrtc/src/webrtc_c/api/environment/environment.cc
  webrtc/src/webrtc_c/api/environment/environment.h
  webrtc/src/webrtc_c/api/video_codecs/video_decoder_factory.cc
  webrtc/src/webrtc_c/api/video_codecs/video_decoder_factory.h
  webrtc/src/webrtc_c/api/video_codecs/video_encoder_factory.cc
  webrtc/src/webrtc_c/api/video_codecs/video_encoder_factory.h
  webrtc/src/webrtc_c/media/engine/simulcast_encoder_adapter.cc
  webrtc/src/webrtc_c/media/engine/simulcast_encoder_adapter.h
  webrtc/src/webrtc_c/sdk/android/native_api/audio_device_module/audio_device_android.h
Due: clang-format

0105 webrtc_c にフィールドトライアル関連の C API を追加する
  webrtc/CMakeLists.txt
  webrtc/RULES.md
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/api/environment/environment.cc
  webrtc/src/webrtc_c/api/environment/environment.h
  webrtc/src/webrtc_c/api/environment/environment_factory.cc
  webrtc/src/webrtc_c/api/environment/environment_factory.h
  webrtc/src/webrtc_c/api/field_trials.cc
  webrtc/src/webrtc_c/api/field_trials.h
  webrtc/src/webrtc_c/api/field_trials_view.cc
  webrtc/src/webrtc_c/api/field_trials_view.h
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
Due: clang-format

0105 Rust API にフィールドトライアル関連の API を追加する
  src/api/environment.rs
  src/api/peer_connection.rs
  src/error.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  clang-format: any of: ^webrtc/src/ and \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
