Repository shiguredo/webrtc-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, clang-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
      - id: clang-format
        name: clang-format
        entry: clang-format --dry-run --Werror
        language: system
        types_or: [c, c++]
        files: ^webrtc/src/

0102 open libwebrtc の worker_thread 削除に追随して worker_thread を削除する
  issues/0102-remove-worker-thread.md
  issues/SEQUENCE
Due: none

0101 PeerConnectionFactory に渡す worker thread を network thread に統一する
  CHANGES.md
  README.md
  examples/whep/src/main.rs
  examples/whip/src/main.rs
  skills/shiguredo-webrtc/SKILL.md
  src/tests.rs
  webrtc/src/whep.c
  webrtc/src/whep.cpp
  webrtc/src/whip.c
  webrtc/src/whip.cpp
Due: cargo-fmt, cargo-clippy, clang-format

0101 解決方法を追記する
  issues/0101-refactor-unify-worker-thread.md
Due: none

0101 closed PeerConnectionFactory に渡す worker thread を network thread に統一する
  issues/closed/0101-refactor-unify-worker-thread.md
Due: none

PeerConnectionFactory に渡す worker thread を network thread に統一する (#94)
  CHANGES.md
  README.md
  examples/whep/src/main.rs
  examples/whip/src/main.rs
  issues/closed/0101-refactor-unify-worker-thread.md
  skills/shiguredo-webrtc/SKILL.md
  src/tests.rs
  webrtc/src/whep.c
  webrtc/src/whep.cpp
  webrtc/src/whip.c
  webrtc/src/whip.cpp
Due: cargo-fmt, cargo-clippy, clang-format

0103 open 借用型 `XxxRef` を読み取り専用にし `XxxRefMut` を新設する
  issues/0103-refactor-readonly-ref-types.md
  issues/SEQUENCE
Due: none

0096 optional のシグネチャとヘルパーを統一する
  CHANGES.md
  src/api/audio.rs
  src/api/frame_transformer.rs
  src/api/rtp.rs
  src/api/video_codec_common.rs
  src/api/video_encoder.rs
  src/helper/optional.rs
  src/rtc_base/logging.rs
  webrtc/RULES.md
  webrtc/src/webrtc_c/api/frame_transformer_interface.cc
  webrtc/src/webrtc_c/api/frame_transformer_interface.h
  webrtc/src/webrtc_c/api/video/video_frame.cc
  webrtc/src/webrtc_c/api/video/video_frame.h
  webrtc/src/webrtc_c/api/video/video_frame_metadata.cc
  webrtc/src/webrtc_c/api/video/video_frame_metadata.h
Due: cargo-fmt, cargo-clippy, clang-format

`RtpEncodingParameters::scalability_mode` の戻り値を `Result<Option<String>>` に変更する
  CHANGES.md
  src/api/rtp.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

0096 解決方法を追記する
  issues/0096-refactor-support-non-primitive-optional-helper.md
Due: none

0096 closed optional 用ヘルパーを非プリミティブ型でも扱えるようにする
  issues/closed/0096-refactor-support-non-primitive-optional-helper.md
Due: none

0096 get_optional_slice に null 検査を追加する
  src/helper/optional.rs
Due: cargo-fmt, cargo-clippy

optional 用ヘルパーを非プリミティブ型でも扱えるようにする (#95)
  CHANGES.md
  issues/0096-refactor-support-non-primitive-optional-helper.md
  issues/closed/0096-refactor-support-non-primitive-optional-helper.md
  src/api/audio.rs
  src/api/frame_transformer.rs
  src/api/rtp.rs
  src/api/video_codec_common.rs
  src/api/video_encoder.rs
  src/helper/optional.rs
  src/rtc_base/logging.rs
  src/tests.rs
  webrtc/RULES.md
  webrtc/src/webrtc_c/api/frame_transformer_interface.cc
  webrtc/src/webrtc_c/api/frame_transformer_interface.h
  webrtc/src/webrtc_c/api/video/video_frame.cc
  webrtc/src/webrtc_c/api/video/video_frame.h
  webrtc/src/webrtc_c/api/video/video_frame_metadata.cc
  webrtc/src/webrtc_c/api/video/video_frame_metadata.h
Due: cargo-fmt, cargo-clippy, clang-format

0103 設計方針に XxxRef の const ポインタ化を追記する
  issues/0103-refactor-readonly-ref-types.md
Due: none

0097 解決方法を追記する
  issues/0097-refactor-c-const-correctness.md
Due: none

0097 closed webrtc_c の C API の const 性を正しく設定する
  issues/closed/0097-refactor-c-const-correctness.md
Due: none

0097 ObjC の C API を const 化の対象から外す
  webrtc/RULES.md
  webrtc/src/webrtc_c/objc.h
  webrtc/src/webrtc_c/objc.mm
  webrtc/src/webrtc_c/sdk/objc/components/audio/audio_session.h
  webrtc/src/webrtc_c/sdk/objc/components/audio/audio_session.mm
  webrtc/src/webrtc_c/sdk/objc/components/video_codec/RTCDefaultVideoDecoderFactory.h
  webrtc/src/webrtc_c/sdk/objc/components/video_codec/RTCDefaultVideoDecoderFactory.mm
  webrtc/src/webrtc_c/sdk/objc/components/video_codec/RTCDefaultVideoEncoderFactory.h
  webrtc/src/webrtc_c/sdk/objc/components/video_codec/RTCDefaultVideoEncoderFactory.mm
  webrtc/src/webrtc_c/sdk/objc/native/api/video_decoder_factory.h
  webrtc/src/webrtc_c/sdk/objc/native/api/video_decoder_factory.mm
  webrtc/src/webrtc_c/sdk/objc/native/api/video_encoder_factory.h
  webrtc/src/webrtc_c/sdk/objc/native/api/video_encoder_factory.mm
Due: clang-format

0097 解決方法に ObjC を対象外とした理由を追記する
  issues/closed/0097-refactor-c-const-correctness.md
Due: none

0100 PeerConnectionRtcConfiguration に cpu_adaptation の取得・設定口を追加する
  CHANGES.md
  src/api/peer_connection.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

0100 解決方法を追記する
  issues/0100-add-cpu-adaptation.md
Due: none

0100 closed PeerConnectionRtcConfiguration に cpu_adaptation の取得・設定口を追加する
  issues/closed/0100-add-cpu-adaptation.md
Due: none

PeerConnectionRtcConfiguration に cpu_adaptation の取得・設定口を追加する (#97)
  CHANGES.md
  issues/closed/0100-add-cpu-adaptation.md
  src/api/peer_connection.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

0104 open AudioDeviceModuleHandler の Send + Sync 要求を見直す
  issues/0104-change-adm-handler-bounds.md
  issues/SEQUENCE
Due: none

0104 AudioDeviceModuleHandler の Send + Sync 要求を見直す
  CHANGES.md
  src/api/audio_device_module.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

0104 スレッド契約の調査結果を追記する
  issues/0104-change-adm-handler-bounds.md
Due: none

0104 解決方法を追記する
  issues/0104-change-adm-handler-bounds.md
Due: none

0104 closed AudioDeviceModuleHandler の Send + Sync 要求を見直す
  issues/closed/0104-change-adm-handler-bounds.md
Due: none

AudioDeviceModuleHandler の Send + Sync 要求を見直す (#98)
  CHANGES.md
  issues/0104-change-adm-handler-bounds.md
  issues/closed/0104-change-adm-handler-bounds.md
  src/api/audio_device_module.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

0103 解決方法を追記する
  issues/0103-refactor-readonly-ref-types.md
Due: none

0103 closed 借用型 XxxRef を読み取り専用にし XxxRefMut を新設する
  issues/closed/0103-refactor-readonly-ref-types.md
Due: none

0103 XxxRefMut から Deref を削除し読み取りアクセサを転送する
  CHANGES.md
  skills/shiguredo-webrtc/SKILL.md
  src/api/audio.rs
  src/api/audio_device_module.rs
  src/api/environment.rs
  src/api/jsep.rs
  src/api/peer_connection.rs
  src/api/rtp.rs
  src/api/video_codec_common.rs
  src/api/video_encoder.rs
  src/cxxstd.rs
  src/rtc_base/buffer.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

0103 解決方法を追記する
  issues/closed/0103-refactor-readonly-ref-types.md
Due: none

0103 所有権を受け取る from_unique を pub(crate) にする
  CHANGES.md
  src/cxxstd.rs
Due: cargo-fmt, cargo-clippy

0103 可変アクセサの戻り値を借用に縛る
  CHANGES.md
  skills/shiguredo-webrtc/SKILL.md
  src/api/audio.rs
  src/api/rtp.rs
  src/api/video_codec_common.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

0103 解決方法を修正する
  issues/closed/0103-refactor-readonly-ref-types.md
Due: none

0103 変更履歴と README を更新する
  CHANGES.md
  README.md
Due: none
