Repository shiguredo/webrtc-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, clang-format

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  entry: clang-format --dry-run --Werror
  language: system

0014 webrtc_CreateRandomString の長さ引数を size_t にするのを閉じる
  CHANGES.md
  issues/closed/0014-bug-webrtc-c-create-random-string-int-length.md
  src/rtc_base/crypto_random.rs
  src/tests.rs
  webrtc/src/webrtc_c/rtc_base/crypto_random.cc
  webrtc/src/webrtc_c/rtc_base/crypto_random.h
Due: cargo-fmt, cargo-clippy, clang-format

0024 peer_connection_interface.cc の _refcounted 直接キャストを RULES.md 準拠にするのを閉じる
  CHANGES.md
  issues/closed/0024-bug-webrtc-c-refcounted-direct-cast.md
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
Due: clang-format

0026,0029 の issue を磨き上げる
  issues/0026-bug-webrtc-c-vector-new-int-size.md
  issues/0029-bug-webrtc-c-objc-nserror-release-null-check.md
  issues/0029-refactor-remove-objc-nsstring-release-null-check.md
Due: none

0026: WEBRTC_DEFINE_VECTOR 系マクロの _new / _resize のサイズ引数型を int から size_t にする
  CHANGES.md
  issues/closed/0026-bug-webrtc-c-vector-new-int-size.md
  src/api/peer_connection.rs
  src/api/rtp.rs
  src/api/video_codec_common.rs
  src/api/video_encoder.rs
  src/cxxstd.rs
  webrtc/src/webrtc_c/common.h
  webrtc/src/webrtc_c/common.impl.h
Due: cargo-fmt, cargo-clippy, clang-format

ヘッダーの並びがおかしいのを修正
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
Due: clang-format

0028 std_string_size の戻り値型を int から size_t に変更する
  CHANGES.md
  issues/closed/0028-bug-webrtc-c-std-string-size-int-truncation.md
  src/cxxstd.rs
  webrtc/src/webrtc_c/std.cc
  webrtc/src/webrtc_c/std.h
Due: cargo-fmt, cargo-clippy, clang-format

0029 objc_NSString_release の冗長な null チェックを削除する
  CHANGES.md
  issues/closed/0029-refactor-remove-objc-nsstring-release-null-check.md
  webrtc/src/webrtc_c/objc.mm
Due: none

0046: libyuv.cc の C スタイルキャストを static_cast に置き換える
  webrtc/src/webrtc_c/libyuv.cc
Due: clang-format

0046: issue を close する
  issues/closed/0046-refactor-webrtc-c-libyuv-c-style-cast.md
Due: none

0055: peer_connection_interface.h のコメントアウト済み旧仮想関数を削除する
  webrtc/src/webrtc_c/api/peer_connection_interface.h
Due: clang-format

0055: issue を close する
  issues/closed/0055-refactor-pc-interface-remove-commented-code.md
Due: none

ちゃんとコミットされていなかった
  issues/closed/0046-refactor-webrtc-c-libyuv-c-style-cast.md
  issues/closed/0055-refactor-pc-interface-remove-commented-code.md
Due: none

色々と修正 (#59)
  CHANGES.md
  issues/0026-bug-webrtc-c-vector-new-int-size.md
  issues/0029-bug-webrtc-c-objc-nserror-release-null-check.md
  issues/closed/0014-bug-webrtc-c-create-random-string-int-length.md
  issues/closed/0024-bug-webrtc-c-refcounted-direct-cast.md
  issues/closed/0026-bug-webrtc-c-vector-new-int-size.md
  issues/closed/0028-bug-webrtc-c-std-string-size-int-truncation.md
  issues/closed/0029-refactor-remove-objc-nsstring-release-null-check.md
  issues/closed/0046-refactor-webrtc-c-libyuv-c-style-cast.md
  issues/closed/0055-refactor-pc-interface-remove-commented-code.md
  src/api/peer_connection.rs
  src/api/rtp.rs
  src/api/video_codec_common.rs
  src/api/video_encoder.rs
  src/cxxstd.rs
  src/rtc_base/crypto_random.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
  webrtc/src/webrtc_c/common.h
  webrtc/src/webrtc_c/common.impl.h
  webrtc/src/webrtc_c/libyuv.cc
  webrtc/src/webrtc_c/objc.mm
  webrtc/src/webrtc_c/rtc_base/crypto_random.cc
  webrtc/src/webrtc_c/rtc_base/crypto_random.h
  webrtc/src/webrtc_c/std.cc
  webrtc/src/webrtc_c/std.h
Due: cargo-fmt, cargo-clippy, clang-format

issue 0043 webrtc_c の null チェック方針を統一する
  CHANGES.md
  issues/closed/0043-refactor-webrtc-c-null-check-consistency.md
  webrtc/RULES.md
  webrtc/src/webrtc_c/api/audio/audio_device.h
  webrtc/src/webrtc_c/api/audio/audio_device_defines.cc
  webrtc/src/webrtc_c/api/audio/audio_device_defines.h
  webrtc/src/webrtc_c/api/data_channel_interface.cc
  webrtc/src/webrtc_c/api/data_channel_interface.h
  webrtc/src/webrtc_c/api/dtls_transport_interface.cc
  webrtc/src/webrtc_c/api/dtls_transport_interface.h
  webrtc/src/webrtc_c/api/jsep.cc
  webrtc/src/webrtc_c/api/jsep.h
  webrtc/src/webrtc_c/api/media_stream_interface.cc
  webrtc/src/webrtc_c/api/media_stream_interface.h
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
  webrtc/src/webrtc_c/api/rtc_error.cc
  webrtc/src/webrtc_c/api/rtp_parameters.cc
  webrtc/src/webrtc_c/api/set_local_description_observer_interface.cc
  webrtc/src/webrtc_c/api/set_local_description_observer_interface.h
  webrtc/src/webrtc_c/api/set_remote_description_observer_interface.cc
  webrtc/src/webrtc_c/api/set_remote_description_observer_interface.h
  webrtc/src/webrtc_c/api/stats/rtc_stats_collector_callback.h
  webrtc/src/webrtc_c/api/video/video_frame.cc
  webrtc/src/webrtc_c/api/video/video_frame_buffer.cc
  webrtc/src/webrtc_c/api/video/video_frame_buffer.h
  webrtc/src/webrtc_c/api/video/video_sink_interface.cc
  webrtc/src/webrtc_c/api/video/video_sink_interface.h
  webrtc/src/webrtc_c/api/video_codecs/sdp_video_format.cc
  webrtc/src/webrtc_c/api/video_codecs/video_decoder.cc
  webrtc/src/webrtc_c/api/video_codecs/video_decoder.h
  webrtc/src/webrtc_c/api/video_codecs/video_decoder_factory.cc
  webrtc/src/webrtc_c/api/video_codecs/video_decoder_factory.h
  webrtc/src/webrtc_c/api/video_codecs/video_encoder.cc
  webrtc/src/webrtc_c/api/video_codecs/video_encoder.h
  webrtc/src/webrtc_c/api/video_codecs/video_encoder_factory.cc
  webrtc/src/webrtc_c/api/video_codecs/video_encoder_factory.h
  webrtc/src/webrtc_c/rtc_base/ssl_certificate.cc
  webrtc/src/webrtc_c/rtc_base/ssl_certificate.h
  webrtc/src/webrtc_c/std.impl.h
Due: clang-format

issue 0043 webrtc_c の null チェック方針を統一する (#60)
  CHANGES.md
  issues/closed/0043-refactor-webrtc-c-null-check-consistency.md
  webrtc/RULES.md
  webrtc/src/webrtc_c/api/audio/audio_device.h
  webrtc/src/webrtc_c/api/audio/audio_device_defines.cc
  webrtc/src/webrtc_c/api/audio/audio_device_defines.h
  webrtc/src/webrtc_c/api/data_channel_interface.cc
  webrtc/src/webrtc_c/api/data_channel_interface.h
  webrtc/src/webrtc_c/api/dtls_transport_interface.cc
  webrtc/src/webrtc_c/api/dtls_transport_interface.h
  webrtc/src/webrtc_c/api/jsep.cc
  webrtc/src/webrtc_c/api/jsep.h
  webrtc/src/webrtc_c/api/media_stream_interface.cc
  webrtc/src/webrtc_c/api/media_stream_interface.h
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
  webrtc/src/webrtc_c/api/rtc_error.cc
  webrtc/src/webrtc_c/api/rtp_parameters.cc
  webrtc/src/webrtc_c/api/set_local_description_observer_interface.cc
  webrtc/src/webrtc_c/api/set_local_description_observer_interface.h
  webrtc/src/webrtc_c/api/set_remote_description_observer_interface.cc
  webrtc/src/webrtc_c/api/set_remote_description_observer_interface.h
  webrtc/src/webrtc_c/api/stats/rtc_stats_collector_callback.h
  webrtc/src/webrtc_c/api/video/video_frame.cc
  webrtc/src/webrtc_c/api/video/video_frame_buffer.cc
  webrtc/src/webrtc_c/api/video/video_frame_buffer.h
  webrtc/src/webrtc_c/api/video/video_sink_interface.cc
  webrtc/src/webrtc_c/api/video/video_sink_interface.h
  webrtc/src/webrtc_c/api/video_codecs/sdp_video_format.cc
  webrtc/src/webrtc_c/api/video_codecs/video_decoder.cc
  webrtc/src/webrtc_c/api/video_codecs/video_decoder.h
  webrtc/src/webrtc_c/api/video_codecs/video_decoder_factory.cc
  webrtc/src/webrtc_c/api/video_codecs/video_decoder_factory.h
  webrtc/src/webrtc_c/api/video_codecs/video_encoder.cc
  webrtc/src/webrtc_c/api/video_codecs/video_encoder.h
  webrtc/src/webrtc_c/api/video_codecs/video_encoder_factory.cc
  webrtc/src/webrtc_c/api/video_codecs/video_encoder_factory.h
  webrtc/src/webrtc_c/rtc_base/ssl_certificate.cc
  webrtc/src/webrtc_c/rtc_base/ssl_certificate.h
  webrtc/src/webrtc_c/std.impl.h
Due: clang-format

issue 0044 を磨く
  issues/0044-refactor-webrtc-c-error-return-consistency.md
Due: none

issue 0065 追加
  issues/0065-refactor-peer-connection-interface-out-param-assert.md
  issues/SEQUENCE
Due: none

0044 webrtc_c のエラー伝達方法を out パラメータ方式に統一する
  CHANGES.md
  issues/closed/0044-refactor-webrtc-c-error-return-consistency.md
  src/api/rtp.rs
  webrtc/RULES.md
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/rtp_sender_interface.cc
  webrtc/src/webrtc_c/api/rtp_sender_interface.h
  webrtc/src/webrtc_c/api/rtp_transceiver_interface.cc
  webrtc/src/webrtc_c/api/rtp_transceiver_interface.h
  webrtc/src/whip.c
Due: cargo-fmt, cargo-clippy, clang-format

[canary] Bump version to 0.150.0-canary.0
  Cargo.lock
  Cargo.toml
Due: none

canary.py に --bump-release オプションを追加する
  canary.py
Due: none

AGENTS.md 更新
  AGENTS.md
  issues/0000-template.md
Due: none

変更履歴更新
  CHANGES.md
  Cargo.lock
  Cargo.toml
Due: none

0065: peer_connection_interface.cc の out パラメータデリファレンス前に assert を追加する
  CHANGES.md
  issues/0065-refactor-peer-connection-interface-out-param-assert.md
  issues/closed/0065-refactor-peer-connection-interface-out-param-assert.md
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
Due: clang-format

webrtc_c のエラー伝達方法を out パラメータ方式に統一する (#61)
  CHANGES.md
  issues/0044-refactor-webrtc-c-error-return-consistency.md
  issues/SEQUENCE
  issues/closed/0044-refactor-webrtc-c-error-return-consistency.md
  issues/closed/0065-refactor-peer-connection-interface-out-param-assert.md
  src/api/rtp.rs
  webrtc/RULES.md
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/rtp_sender_interface.cc
  webrtc/src/webrtc_c/api/rtp_sender_interface.h
  webrtc/src/webrtc_c/api/rtp_transceiver_interface.cc
  webrtc/src/webrtc_c/api/rtp_transceiver_interface.h
  webrtc/src/whip.c
Due: cargo-fmt, cargo-clippy, clang-format

issue 0066 を磨き上げて 0067-0070 を新規作成する
  issues/0066-add-libyuv-mjpg-to-i420-nv12-wrappers.md
  issues/0067-add-libyuv-i420-rotate-wrapper.md
  issues/0068-doc-readme-libyuv-i420-nv12-copy.md
  issues/0069-refactor-libyuv-allow-to-expect.md
  issues/0070-refactor-libyuv-tests-split.md
  issues/SEQUENCE
Due: none

issue 0066 を磨く
  issues/0066-add-libyuv-mjpg-to-i420-nv12-wrappers.md
Due: none

libyuv の MJPEG デコード系のラッパーを追加する
  CHANGES.md
  README.md
  src/lib.rs
  src/libyuv.rs
  src/tests.rs
  webrtc/src/webrtc_c/libyuv.cc
  webrtc/src/webrtc_c/libyuv.h
Due: cargo-fmt, cargo-clippy, clang-format

libyuv の MJPEG デコード系のラッパーを追加する (#62)
  CHANGES.md
  README.md
  issues/0066-add-libyuv-mjpg-to-i420-nv12-wrappers.md
  src/lib.rs
  src/libyuv.rs
  src/tests.rs
  webrtc/src/webrtc_c/libyuv.cc
  webrtc/src/webrtc_c/libyuv.h
Due: cargo-fmt, cargo-clippy, clang-format

VS 2026 を利用可能にする
  build.rs
Due: cargo-fmt, cargo-clippy

skills を現在の webrtc-rs の実装に追従させる
  skills/libwebrtc_c/SKILL.md
  skills/shiguredo_webrtc/SKILL.md
Due: none

変更履歴を更新する
  CHANGES.md
  Cargo.lock
  Cargo.toml
Due: none

issue 0066 を close
  issues/closed/0066-add-libyuv-mjpg-to-i420-nv12-wrappers.md
Due: none

0067 libyuv の I420Rotate に対応する Rust safe wrapper を追加する
  CHANGES.md
  README.md
  src/lib.rs
  src/libyuv.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

0069 src/libyuv.rs の #[allow(clippy::too_many_arguments)] を #[expect(...)] に揃える
  CHANGES.md
  src/libyuv.rs
Due: cargo-fmt, cargo-clippy

issue 0067 を close
  issues/closed/0067-add-libyuv-i420-rotate-wrapper.md
Due: none

0068 README に libyuv の i420_copy / nv12_copy を追記する
  issues/closed/0068-doc-readme-libyuv-i420-nv12-copy.md
Due: none

issue 0069 を close
  issues/closed/0069-refactor-libyuv-allow-to-expect.md
Due: none

0070 src/tests.rs から libyuv テストを tests/test_libyuv.rs に分離する
  CHANGES.md
  src/tests.rs
  tests/test_libyuv.rs
Due: cargo-fmt, cargo-clippy

issue 0070 を close
  issues/closed/0070-refactor-libyuv-tests-split.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  clang-format: any of: ^webrtc/src/ and \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
