Repository shiguredo/webrtc-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, clang-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
      - id: clang-format
        name: clang-format
        entry: clang-format --dry-run --Werror
        language: system
        types_or: [c, c++]
        files: ^webrtc/src/

cargo update
  Cargo.lock
Due: none

IceCandidate の生成・削除・プロパティ取得と AddIceCandidate を追加
  src/api/jsep.rs
  src/api/peer_connection.rs
  webrtc/src/webrtc_c/api/jsep.cc
  webrtc/src/webrtc_c/api/jsep.h
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

変更履歴を更新する
  CHANGES.md
Due: none

IceCandidateRef と IceCandidate に分離
  src/api/jsep.rs
  src/api/peer_connection.rs
Due: cargo-fmt, cargo-clippy

IceCandidateInterface は deprecated なので IceCandidate に変更
  src/api/jsep.rs
  src/api/peer_connection.rs
  webrtc/src/webrtc_c/api/jsep.cc
  webrtc/src/webrtc_c/api/jsep.h
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
  webrtc/src/whep.cpp
  webrtc/src/whip.cpp
Due: cargo-fmt, cargo-clippy, clang-format

SdpParseError を扱えるようにする
  src/api/jsep.rs
  src/error.rs
  webrtc/src/webrtc_c/api/jsep.cc
  webrtc/src/webrtc_c/api/jsep.h
Due: cargo-fmt, cargo-clippy, clang-format

Ubuntu ARM64 の CI を有効化し、c_char の型不一致を修正
  .github/workflows/ci.yml
  src/api/audio.rs
Due: cargo-fmt, cargo-clippy

cargo fmt --all を適用し clippy の type_complexity を修正する
  src/api/peer_connection.rs
Due: cargo-fmt, cargo-clippy

ARM64 Linux で prebuilt Clang の代わりにシステム Clang を使用
  .github/workflows/ci.yml
  webrtc/CMakeLists.txt
Due: none

ARM64 Linux に apt.llvm.org から Clang 20 をインストール
  .github/workflows/ci.yml
Due: none

slack channel を変更する
  .github/workflows/ci.yml
Due: none

Clang 20 から Clang 21 に変更
  .github/workflows/ci.yml
Due: none

ARM64 Linux での clippy::unnecessary_cast 警告を修正
  src/api/rtc_error.rs
  src/cxxstd.rs
Due: cargo-fmt, cargo-clippy

CHANGES.md / README.md を更新し CI にコメントを追加
  .github/workflows/ci.yml
  CHANGES.md
  README.md
Due: none

bundle_static_library の add_custom_command に DEPENDS を追加する
  webrtc/CMakeLists.txt
Due: none

jsep.rs の ARM64 Linux での clippy::unnecessary_cast 警告を修正
  src/api/jsep.rs
Due: cargo-fmt, cargo-clippy

RtpParameters に RtpEncodingParameters を設定できるようにする
  CHANGES.md
  README.md
  examples/whip/src/main.rs
  src/api/rtp.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/rtp_parameters.cc
  webrtc/src/webrtc_c/api/rtp_parameters.h
  webrtc/src/webrtc_c/api/rtp_sender_interface.cc
  webrtc/src/webrtc_c/api/rtp_sender_interface.h
  webrtc/src/whip.c
Due: cargo-fmt, cargo-clippy, clang-format

MATCHES による比較をやめる
  webrtc/CMakeLists.txt
Due: none

変数をリネーム
  webrtc/CMakeLists.txt
Due: none

リネーム漏れ
  webrtc/CMakeLists.txt
Due: none

Merge pull request #3 from shiguredo/feature/ubuntu-arm64
  .github/workflows/ci.yml
  CHANGES.md
  README.md
  src/api/audio.rs
  src/api/jsep.rs
  src/api/rtc_error.rs
  src/cxxstd.rs
  webrtc/CMakeLists.txt
Due: cargo-fmt, cargo-clippy

名前が違う
  CHANGES.md
Due: none

Claude AssistantのGitHub Actionsワークフローを追加する
  .github/workflows/claude.yml
Due: none

RtpCodec を追加してコード整理
  examples/whip/src/main.rs
  src/api/rtp.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/jsep.cc
  webrtc/src/webrtc_c/api/jsep.h
  webrtc/src/webrtc_c/api/rtp_parameters.cc
  webrtc/src/webrtc_c/api/rtp_parameters.h
  webrtc/src/webrtc_c/api/rtp_sender_interface.cc
  webrtc/src/webrtc_c/std.impl.h
  webrtc/src/whip.c
Due: cargo-fmt, cargo-clippy, clang-format

不要なキャストを削除
  webrtc/src/webrtc_c/api/rtp_parameters.cc
Due: clang-format

バージョンを上げる
  CHANGES.md
  Cargo.lock
  Cargo.toml
Due: none

0.145.1
  CHANGES.md
Due: none

ファイル追加
  .vscode/launch.json
Due: none

キャッシュをコメントアウトする
  .github/workflows/ci.yml
Due: none

Raspberry Pi OS (ARM64) 向けクロスコンパイル対応を追加
  .github/workflows/ci.yml
  build.rs
  multistrap/raspberry-pi-os_armv8.conf
  webrtc/CMakeLists.txt
Due: cargo-fmt, cargo-clippy

multistrap 実行前に Debian の GPG 鍵をセットアップする
  .github/workflows/ci.yml
Due: none

rootfs のパーミッションを修正して Cargo のスキャンエラーを回避
  .github/workflows/ci.yml
Due: none

クロスコンパイル時に LLD リンカを使用する
  webrtc/CMakeLists.txt
Due: none

bindgen 用に gcc-aarch64-linux-gnu をインストールする
  .github/workflows/ci.yml
Due: none

Clang の使い分けについてコメントを追加
  .github/workflows/ci.yml
  webrtc/CMakeLists.txt
Due: none

Ubuntu ARM64 もクロスコンパイルに移行する
  .github/workflows/ci.yml
  multistrap/ubuntu-22.04_armv8.conf
  multistrap/ubuntu-24.04_armv8.conf
  webrtc/CMakeLists.txt
Due: none

Video(Encoder|Decoder)(Factory)? の Rust 版を実装する
  .vscode/settings.json
  CHANGES.md
  src/api/environment.rs
  src/api/video.rs
  src/cxxstd.rs
  src/ref_count.rs
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/api/video/encoded_image.cc
  webrtc/src/webrtc_c/api/video/encoded_image.h
  webrtc/src/webrtc_c/api/video/encoded_image_buffer.cc
  webrtc/src/webrtc_c/api/video/encoded_image_buffer.h
  webrtc/src/webrtc_c/api/video_codecs/codec_specific_info.cc
  webrtc/src/webrtc_c/api/video_codecs/codec_specific_info.h
  webrtc/src/webrtc_c/api/video_codecs/sdp_video_format.cc
  webrtc/src/webrtc_c/api/video_codecs/sdp_video_format.h
  webrtc/src/webrtc_c/api/video_codecs/video_codec.cc
  webrtc/src/webrtc_c/api/video_codecs/video_codec.h
  webrtc/src/webrtc_c/api/video_codecs/video_decoder.cc
  webrtc/src/webrtc_c/api/video_codecs/video_decoder.h
  webrtc/src/webrtc_c/api/video_codecs/video_decoder_factory.cc
  webrtc/src/webrtc_c/api/video_codecs/video_decoder_factory.h
  webrtc/src/webrtc_c/api/video_codecs/video_encoder.cc
  webrtc/src/webrtc_c/api/video_codecs/video_encoder.h
  webrtc/src/webrtc_c/api/video_codecs/video_encoder_factory.cc
  webrtc/src/webrtc_c/api/video_codecs/video_encoder_factory.h
  webrtc/src/webrtc_c/common.h
  webrtc/src/webrtc_c/common.impl.h
Due: cargo-fmt, cargo-clippy, clang-format

cargo fmt
  src/tests.rs
Due: cargo-fmt, cargo-clippy

cargo clippy
  src/api/video.rs
Due: cargo-fmt, cargo-clippy

フォーマットと IWYU
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/api/video/encoded_image.cc
  webrtc/src/webrtc_c/api/video/encoded_image.h
  webrtc/src/webrtc_c/api/video/encoded_image_buffer.cc
  webrtc/src/webrtc_c/api/video/encoded_image_buffer.h
  webrtc/src/webrtc_c/api/video_codecs/codec_specific_info.h
  webrtc/src/webrtc_c/api/video_codecs/sdp_video_format.cc
  webrtc/src/webrtc_c/api/video_codecs/video_codec.cc
  webrtc/src/webrtc_c/api/video_codecs/video_codec.h
  webrtc/src/webrtc_c/api/video_codecs/video_decoder.cc
  webrtc/src/webrtc_c/api/video_codecs/video_decoder.h
  webrtc/src/webrtc_c/api/video_codecs/video_decoder_factory.cc
  webrtc/src/webrtc_c/api/video_codecs/video_encoder.cc
  webrtc/src/webrtc_c/api/video_codecs/video_encoder.h
  webrtc/src/webrtc_c/api/video_codecs/video_encoder_factory.cc
  webrtc/src/webrtc_c/common.h
  webrtc/src/webrtc_c/common.impl.h
  webrtc/src/webrtc_c/modules/video_coding/include/video_codec_interface.cc
  webrtc/src/webrtc_c/modules/video_coding/include/video_codec_interface.h
Due: clang-format
