Repository shiguredo/webrtc-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, clang-format

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  entry: clang-format --dry-run --Werror
  language: system

enum じゃなくて定数として定義する
  src/api/video_codec_common.rs
  webrtc/src/webrtc_c/api/video_codecs/sdp_video_format.cc
  webrtc/src/webrtc_c/api/video_codecs/sdp_video_format.h
Due: cargo-fmt, cargo-clippy, clang-format

cargo fmt
  src/api/video_codec_common.rs
Due: cargo-fmt, cargo-clippy

エラーの定義を error.rs に移動する
  src/api/video_codec_common.rs
  src/error.rs
Due: cargo-fmt, cargo-clippy

[canary] Bump version to 0.146.0-canary.3
  Cargo.lock
  Cargo.toml
Due: none

proxy に対応する
  CHANGES.md
  README.md
  src/api/peer_connection.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
  webrtc/src/webrtc_c/api/video_codecs/sdp_video_format.cc
  webrtc/src/webrtc_c/api/video_codecs/sdp_video_format.h
Due: cargo-fmt, cargo-clippy, clang-format

deps.json を廃止して Cargo.toml の package.metadata に移行する
  Cargo.lock
  Cargo.toml
  build.rs
  webrtc/CMakeLists.txt
  webrtc/deps.json
Due: cargo-fmt, cargo-clippy

ConnectionContext を Rust 側で扱えるように修正
  CHANGES.md
  README.md
  src/api/peer_connection.rs
  src/ref_count.rs
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
  webrtc/src/webrtc_c/pc/connection_context.cc
  webrtc/src/webrtc_c/pc/connection_context.h
Due: cargo-fmt, cargo-clippy, clang-format

cargo fmt
  src/tests.rs
Due: cargo-fmt, cargo-clippy

コメント追加
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
Due: clang-format

deps.json を廃止して Cargo.toml の package.metadata に移行する (#23)
  Cargo.lock
  Cargo.toml
  build.rs
  webrtc/CMakeLists.txt
  webrtc/deps.json
Due: cargo-fmt, cargo-clippy

clang format
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/pc/connection_context.cc
Due: clang-format

[canary] Bump version to 0.146.0-canary.4
  Cargo.lock
  Cargo.toml
Due: none

TURN-TLS の TLS 証明書検証を Rust 側に移譲するための C ラッパーを追加する
  CHANGES.md
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
Due: clang-format

TURN-TLS 用の TlsCertPolicy と TLS 証明書検証コールバックの Rust ラッパーを追加する
  src/api/peer_connection.rs
Due: cargo-fmt, cargo-clippy

TURN-TLS の TLS 証明書検証を設定する機能を追加する
  CHANGES.md
  src/api/peer_connection.rs
  src/lib.rs
  src/rtc_base/mod.rs
  src/rtc_base/ssl_certificate.rs
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
  webrtc/src/webrtc_c/rtc_base/ssl_certificate.cc
  webrtc/src/webrtc_c/rtc_base/ssl_certificate.h
Due: cargo-fmt, cargo-clippy, clang-format

cargo clippy
  src/rtc_base/ssl_certificate.rs
Due: cargo-fmt, cargo-clippy

TURN-TLS の TLS 証明書検証を Rust 側に移譲するための C ラッパーを追加する (#25)
  CHANGES.md
  src/api/peer_connection.rs
  src/lib.rs
  src/rtc_base/mod.rs
  src/rtc_base/ssl_certificate.rs
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
  webrtc/src/webrtc_c/rtc_base/ssl_certificate.cc
  webrtc/src/webrtc_c/rtc_base/ssl_certificate.h
Due: cargo-fmt, cargo-clippy, clang-format

clang format
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
  webrtc/src/webrtc_c/rtc_base/ssl_certificate.cc
  webrtc/src/whep.c
  webrtc/src/whep.cpp
  webrtc/src/whip.c
  webrtc/src/whip.cpp
Due: clang-format

[canary] Bump version to 0.146.0-canary.5
  Cargo.lock
  Cargo.toml
Due: none

変更履歴を更新する
  CHANGES.md
  Cargo.lock
  Cargo.toml
Due: none

README の対応 API セクションを更新する
  README.md
Due: none

http11 のバージョンを上げる
  CHANGES.md
  Cargo.lock
  Cargo.toml
  examples/whep/Cargo.toml
  examples/whip/Cargo.toml
Due: none

TURN-TLS 接続でクライアント認証 (mTLS) をサポートする
  README.md
  src/api/peer_connection.rs
  src/lib.rs
  src/rtc_base/mod.rs
  src/rtc_base/ssl_identity.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
  webrtc/src/webrtc_c/rtc_base/ssl_identity.cc
  webrtc/src/webrtc_c/rtc_base/ssl_identity.h
Due: cargo-fmt, cargo-clippy, clang-format

prek.toml ファイルに切り替える
  .pre-commit-config.yaml
  prek.toml
Due: none

examples の lock ファイルを削除する
  examples/whep/Cargo.lock
  examples/whip/Cargo.lock
Due: none

shiguredo_http11 のバージョンを 2026.1 に変更する
  examples/whep/Cargo.toml
  examples/whip/Cargo.toml
Due: none

use する
  src/api/peer_connection.rs
Due: cargo-fmt, cargo-clippy

Windows に対応する
  .github/workflows/ci.yml
  .github/workflows/release.yml
  build.rs
  webrtc/CMakeLists.txt
Due: cargo-fmt, cargo-clippy

windows-2025 で試してみる
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

不要な処理が残ってた
  build.rs
Due: cargo-fmt, cargo-clippy

[canary] Bump version to 0.146.1-canary.0
  Cargo.lock
  Cargo.toml
Due: none

CHANGES と README 更新
  CHANGES.md
  README.md
Due: none

shell を削除して ght コマンドでは bash を利用する
  .github/workflows/release.yml
Due: none

fail-fast をやめる
  .github/workflows/ci.yml
Due: none

urls_len を追加
  CHANGES.md
  src/api/peer_connection.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

[canary] Bump version to 0.146.1-canary.1
  Cargo.lock
  Cargo.toml
Due: none

cargo update
  Cargo.lock
  Cargo.toml
Due: none

[canary] Bump version to 0.146.1-canary.2
  Cargo.lock
  Cargo.toml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  clang-format: any of: ^webrtc/src/ and \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
