Repository shiguredo/webrtc-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, clang-format

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  entry: clang-format --dry-run --Werror
  language: system

MediaStreamTrack に enabled / set_enabled を追加する
  src/api/rtp.rs
  webrtc/src/webrtc_c/api/media_stream_interface.cc
  webrtc/src/webrtc_c/api/media_stream_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

CHANGES.md に enabled / set_enabled の追加を反映する
  CHANGES.md
Due: none

CHANGES.md にトラックの有効/無効制御の目的を追記する
  CHANGES.md
Due: none

Feature/add media stream track enabled (#30)
  CHANGES.md
  src/api/rtp.rs
  webrtc/src/webrtc_c/api/media_stream_interface.cc
  webrtc/src/webrtc_c/api/media_stream_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

Android arm64-v8a 向け prebuilt サポートを追加
  .github/workflows/ci.yml
  .github/workflows/release.yml
  build.rs
  webrtc/CMakeLists.txt
Due: cargo-fmt, cargo-clippy

iOS arm64 向け prebuilt サポートを追加
  .github/workflows/ci.yml
  .github/workflows/release.yml
  build.rs
  webrtc/CMakeLists.txt
Due: cargo-fmt, cargo-clippy

Android ビルドで NDK ツールチェーンの CC/AR 環境変数を設定
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Android NDK インストール時にライセンスを自動承認
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Android NDK を安定版 r29 (29.0.14206865) に変更
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Android ビルドを CMake 直接呼び出しに変更し bindgen を除外
  .github/workflows/ci.yml
  .github/workflows/release.yml
  build.rs
Due: cargo-fmt, cargo-clippy

Android prebuilt にヘッダーファイルを含める
  .github/workflows/release.yml
Due: none

iOS prebuilt にヘッダーファイルを含める
  .github/workflows/release.yml
Due: none

iOS ビルドを CMake 直接呼び出しに変更し bindgen を除外
  .github/workflows/ci.yml
  .github/workflows/release.yml
  build.rs
Due: cargo-fmt, cargo-clippy

CI で iOS/Android ビルド以外を一時的にコメントアウト
  .github/workflows/ci.yml
Due: none

CI ジョブ名を build-ios/build-android に変更し CMake 4.3.0 をインストール
  .github/workflows/ci.yml
Due: none

CMake インストールを uv tool install cmake に変更
  .github/workflows/ci.yml
Due: none

CMake/Ninja を uv tool install に統一し CXX_SCAN_FOR_MODULES を無効化
  .github/workflows/ci.yml
  webrtc/CMakeLists.txt
Due: none

cmake_minimum_required を VERSION 4.2 に戻す
  webrtc/CMakeLists.txt
Due: none

AudioDeviceModule に GetPlayoutAudioParameters / GetRecordAudioParameters を追加
  webrtc/src/webrtc_c/api/audio/audio_device.cc
  webrtc/src/webrtc_c/api/audio/audio_device.h
Due: clang-format

GetPlayoutAudioParameters/GetRecordAudioParameters を WEBRTC_IOS のみに限定
  webrtc/src/webrtc_c/api/audio/audio_device.cc
Due: clang-format

VideoEncoder::EncoderInfo の全フィールドと関連型 API を追加する
  CHANGES.md
  src/api/video_encoder.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/media_stream_interface.cc
  webrtc/src/webrtc_c/api/media_stream_interface.h
  webrtc/src/webrtc_c/api/video_codecs/video_encoder.cc
  webrtc/src/webrtc_c/api/video_codecs/video_encoder.h
  webrtc/src/webrtc_c/common.h
  webrtc/src/webrtc_c/common.impl.h
Due: cargo-fmt, cargo-clippy, clang-format

修正
  src/tests.rs
Due: cargo-fmt, cargo-clippy

PeerConnection::close を追加する
  CHANGES.md
  src/api/peer_connection.rs
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

DtlsTransport / DtlsTransportObserver / DtlsTransportState を追加する
  CHANGES.md
  src/api/dtls_transport.rs
  src/api/mod.rs
  src/api/peer_connection.rs
  src/ref_count.rs
  webrtc/src/webrtc_c/api/dtls_transport_interface.cc
  webrtc/src/webrtc_c/api/dtls_transport_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

CHANGES.md に lookup_dtls_transport_by_mid の説明を追加する
  CHANGES.md
Due: none

Sync を外す
  src/api/dtls_transport.rs
Due: cargo-fmt, cargo-clippy

AGENTS.md 追加する
  AGENTS.md
  CLAUDE.md
Due: none

Audio Sink 関連の issue を追加する
  issues/0001-feature-add-audio-sink-interface-c-api.md
  issues/0002-feature-add-audio-track-sink-and-cast-c-api.md
  issues/0003-feature-add-audio-sink-and-cast-rust-api.md
  issues/SEQUENCE
Due: none

issue を再編する
  issues/0001-feature-add-audio-sink-interface-c-api.md
  issues/0002-feature-add-audio-track-sink-and-cast-c-api.md
  issues/0003-feature-add-audio-sink-and-cast-rust-api.md
  issues/SEQUENCE
Due: none

C 層に AudioTrackSinkInterface と AudioTrack の Sink 操作 API を追加する
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/api/audio/audio_track_sink_interface.cc
  webrtc/src/webrtc_c/api/audio/audio_track_sink_interface.h
  webrtc/src/webrtc_c/api/media_stream_interface.cc
  webrtc/src/webrtc_c/api/media_stream_interface.h
Due: clang-format

Rust 層に AudioSink / AudioTrack sink 操作 / cast_to_audio_track() を追加する
  CHANGES.md
  src/api/audio.rs
  src/api/rtp.rs
Due: cargo-fmt, cargo-clippy

issue #0001 と #0002 をクローズする
  issues/closed/0001-feature-add-audio-sink-interface-c-api.md
  issues/closed/0002-feature-add-audio-track-sink-and-cast-c-api.md
Due: none

DtlsTransport / DtlsTransportObserver / DtlsTransportState を追加する (#36)
  CHANGES.md
  src/api/dtls_transport.rs
  src/api/mod.rs
  src/api/peer_connection.rs
  src/ref_count.rs
  webrtc/src/webrtc_c/api/dtls_transport_interface.cc
  webrtc/src/webrtc_c/api/dtls_transport_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

m147
  Cargo.lock
  Cargo.toml
Due: none

PeerConnection::close を追加する (#35)
  CHANGES.md
  src/api/peer_connection.rs
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

0.146.1
  CHANGES.md
  Cargo.lock
  Cargo.toml
Due: none

format, iwyu
  webrtc/src/webrtc_c/api/audio/audio_track_sink_interface.cc
  webrtc/src/webrtc_c/api/audio/audio_track_sink_interface.h
  webrtc/src/webrtc_c/api/dtls_transport_interface.cc
  webrtc/src/webrtc_c/api/media_stream_interface.cc
  webrtc/src/webrtc_c/api/media_stream_interface.h
Due: clang-format

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  clang-format: any of: ^webrtc/src/ and \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
