Repository shiguredo/webrtc-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, clang-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
      - id: clang-format
        name: clang-format
        entry: clang-format --dry-run --Werror
        language: system
        types_or: [c, c++]
        files: ^webrtc/src/

0091 解決方法を追記する
  issues/0091-refactor-non-null-constructor.md
Due: none

0091 closed C API から返る null チェック済みポインタのコンストラクタ `NonNull::new(...).expect(...)` を共通ヘルパー化する
  issues/closed/0091-refactor-non-null-constructor.md
Due: none

C API から返る null チェック済みポインタのコンストラクタを共通ヘルパー化する (#83)
  CHANGES.md
  issues/closed/0091-refactor-non-null-constructor.md
  src/api/audio.rs
  src/api/audio_device_module.rs
  src/api/data_channel.rs
  src/api/dtls_transport.rs
  src/api/environment.rs
  src/api/frame_transformer.rs
  src/api/jsep.rs
  src/api/media_stream.rs
  src/api/peer_connection.rs
  src/api/rtc_error.rs
  src/api/rtc_event_log.rs
  src/api/rtp.rs
  src/api/stats.rs
  src/api/video.rs
  src/api/video_codec_common.rs
  src/api/video_codec_specifics.rs
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/cxxstd.rs
  src/lib.rs
  src/non_null.rs
  src/ref_count.rs
  src/rtc_base/crypto_random.rs
  src/rtc_base/logging.rs
  src/rtc_base/ssl_certificate.rs
  src/rtc_base/thread.rs
  src/rtc_base/timestamp_aligner.rs
Due: cargo-fmt, cargo-clippy

0093-0094 open
  issues/0093-refactor-unify-out-param-error-pattern.md
  issues/0094-refactor-unify-observer-registration-skeleton.md
  issues/SEQUENCE
Due: none

0088 カスタム LogSink を設定可能にする
  src/rtc_base/logging.rs
  src/tests.rs
  webrtc/src/webrtc_c/rtc_base/logging.cc
  webrtc/src/webrtc_c/rtc_base/logging.h
Due: cargo-fmt, cargo-clippy, clang-format

0088 解決方法を追記する
  issues/0088-add-custom-log-sink.md
Due: none

0088 closed カスタム LogSink を設定可能にする
  issues/closed/0088-add-custom-log-sink.md
Due: none

カスタム LogSink を設定可能にする (#84)
  issues/closed/0088-add-custom-log-sink.md
  src/rtc_base/logging.rs
  src/tests.rs
  webrtc/src/webrtc_c/rtc_base/logging.cc
  webrtc/src/webrtc_c/rtc_base/logging.h
Due: cargo-fmt, cargo-clippy, clang-format

IWYU を掛ける
  webrtc/src/webrtc_c/api/audio/audio_options.cc
  webrtc/src/webrtc_c/api/frame_transformer_interface.cc
  webrtc/src/webrtc_c/api/rtc_error.cc
  webrtc/src/webrtc_c/api/rtp_receiver_interface.cc
  webrtc/src/webrtc_c/api/rtp_sender_interface.cc
  webrtc/src/webrtc_c/api/rtp_transceiver_interface.cc
  webrtc/src/webrtc_c/api/video/video_frame_metadata.cc
  webrtc/src/webrtc_c/api/video_codecs/simulcast_stream.cc
  webrtc/src/webrtc_c/api/video_codecs/video_codec.cc
  webrtc/src/webrtc_c/api/video_codecs/video_decoder.cc
  webrtc/src/webrtc_c/api/video_codecs/video_decoder_factory.cc
  webrtc/src/webrtc_c/api/video_codecs/video_encoder.cc
  webrtc/src/webrtc_c/api/video_codecs/video_encoder_factory.cc
  webrtc/src/webrtc_c/libyuv.cc
  webrtc/src/webrtc_c/media/engine/simulcast_encoder_adapter.cc
  webrtc/src/webrtc_c/modules/video_coding/codecs/h264/include/h264_globals.cc
  webrtc/src/webrtc_c/modules/video_coding/codecs/interface/common_constants.cc
  webrtc/src/webrtc_c/modules/video_coding/codecs/vp8/include/vp8_globals.cc
  webrtc/src/webrtc_c/modules/video_coding/codecs/vp9/include/vp9_globals.cc
  webrtc/src/webrtc_c/rtc_base/crypto_random.cc
  webrtc/src/webrtc_c/rtc_base/crypto_random.h
  webrtc/src/webrtc_c/rtc_base/logging.cc
  webrtc/src/webrtc_c/rtc_base/logging.h
  webrtc/src/webrtc_c/std.cc
Due: clang-format

0092 FileRotatingLogSink と CallSessionFileRotatingLogSink を利用可能にする
  CHANGES.md
  issues/0092-add-file-rotating-log-sink.md
  src/error.rs
  src/rtc_base/log_sinks.rs
  src/rtc_base/logging.rs
  src/rtc_base/mod.rs
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/rtc_base/log_sinks.cc
  webrtc/src/webrtc_c/rtc_base/log_sinks.h
Due: cargo-fmt, cargo-clippy, clang-format

0092 disable_buffering を状態変更メソッドとして &mut self に変更する
  src/rtc_base/log_sinks.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

0092 pending にする理由を追記する
  issues/0092-add-file-rotating-log-sink.md
Due: none

0092 pending FileRotatingLogSink と CallSessionFileRotatingLogSink を利用可能にする
  issues/pending/0092-add-file-rotating-log-sink.md
Due: none

0093 out 引数と out_error のボイラープレートを共通ヘルパー化する
  CHANGES.md
  src/api/jsep.rs
  src/api/mod.rs
  src/api/out_param.rs
  src/api/peer_connection.rs
Due: cargo-fmt, cargo-clippy

0093 解決方法を追記する
  issues/0093-refactor-unify-out-param-error-pattern.md
Due: none

0093 closed out 引数 + out_error の FFI ボイラープレートを共通ヘルパー化する
  issues/closed/0093-refactor-unify-out-param-error-pattern.md
Due: none

0093 out_param ヘルパーの null ポリシーを統一する
  src/api/audio_device_module.rs
  src/api/jsep.rs
  src/api/out_param.rs
  src/api/peer_connection.rs
  src/api/rtp.rs
Due: cargo-fmt, cargo-clippy

out 引数と out_error のボイラープレートを共通ヘルパー化する (#85)
  CHANGES.md
  issues/closed/0093-refactor-unify-out-param-error-pattern.md
  src/api/audio_device_module.rs
  src/api/jsep.rs
  src/api/mod.rs
  src/api/out_param.rs
  src/api/peer_connection.rs
  src/api/rtp.rs
Due: cargo-fmt, cargo-clippy

0094 observer / callback の登録・破棄の骨格を共通ヘルパー化する
  CHANGES.md
  src/api/audio.rs
  src/api/audio_device_module.rs
  src/api/data_channel.rs
  src/api/dtls_transport.rs
  src/api/frame_transformer.rs
  src/api/peer_connection.rs
  src/api/video.rs
  src/api/video_codec_common.rs
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/handler.rs
  src/lib.rs
  src/non_null.rs
  src/rtc_base/logging.rs
  src/rtc_base/ssl_certificate.rs
Due: cargo-fmt, cargo-clippy

0094 型エイリアスの冗長な doc コメントを削除する
  src/api/audio.rs
  src/api/audio_device_module.rs
  src/api/data_channel.rs
  src/api/dtls_transport.rs
  src/api/peer_connection.rs
  src/api/video.rs
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/rtc_base/logging.rs
  src/rtc_base/ssl_certificate.rs
Due: cargo-fmt, cargo-clippy

0094 解決方法を追記する
  issues/0094-refactor-unify-observer-registration-skeleton.md
Due: none

0094 closed observer / callback の new_with_handler 登録・on_destroy 破棄の骨格を共通ヘルパー化する
  issues/closed/0094-refactor-unify-observer-registration-skeleton.md
Due: none

observer / callback の登録・破棄の骨格を共通ヘルパー化する (#86)
  CHANGES.md
  issues/closed/0094-refactor-unify-observer-registration-skeleton.md
  src/api/audio.rs
  src/api/audio_device_module.rs
  src/api/data_channel.rs
  src/api/dtls_transport.rs
  src/api/frame_transformer.rs
  src/api/peer_connection.rs
  src/api/video.rs
  src/api/video_codec_common.rs
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/handler.rs
  src/lib.rs
  src/non_null.rs
  src/rtc_base/logging.rs
  src/rtc_base/ssl_certificate.rs
Due: cargo-fmt, cargo-clippy

内部向けの共通ヘルパー実装を src/helper に集約する
  CHANGES.md
  src/api/audio.rs
  src/api/audio_device_module.rs
  src/api/data_channel.rs
  src/api/dtls_transport.rs
  src/api/environment.rs
  src/api/frame_transformer.rs
  src/api/jsep.rs
  src/api/media_stream.rs
  src/api/mod.rs
  src/api/peer_connection.rs
  src/api/rtc_error.rs
  src/api/rtc_event_log.rs
  src/api/rtp.rs
  src/api/stats.rs
  src/api/video.rs
  src/api/video_codec_common.rs
  src/api/video_codec_specifics.rs
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/cxxstd.rs
  src/helper.rs
  src/helper/handler.rs
  src/helper/non_null.rs
  src/helper/optional.rs
  src/helper/out_param.rs
  src/helper/ref_count.rs
  src/lib.rs
  src/rtc_base/crypto_random.rs
  src/rtc_base/logging.rs
  src/rtc_base/ssl_certificate.rs
  src/rtc_base/thread.rs
  src/rtc_base/timestamp_aligner.rs
Due: cargo-fmt, cargo-clippy

.gitignore 更新
  .gitignore
Due: none

レビュー指摘の FFI 空バッファ UB と libyuv 負 crop_height を修正する
  CHANGES.md
  src/api/audio_device_module.rs
  src/api/data_channel.rs
  src/api/environment.rs
  src/api/video_decoder.rs
  src/cxxstd.rs
  src/helper/ref_count.rs
  src/libyuv.rs
  src/tests.rs
  tests/test_libyuv.rs
Due: cargo-fmt, cargo-clippy

webrtc_c の *_unique キャスト統一等を RULES に合わせて修正する
  CHANGES.md
  src/api/video_encoder.rs
  webrtc/src/webrtc_c/api/audio/audio_device.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/video_codecs/video_encoder.cc
  webrtc/src/webrtc_c/rtc_base/ssl_certificate.cc
Due: cargo-fmt, cargo-clippy, clang-format

0025 解決方法を追記する
  issues/pending/0025-bug-webrtc-c-cast-to-unchecked-static-cast.md
Due: none

0025 closed cast_to_* の未チェック static_cast ダウンキャストを安全にする
  issues/closed/0025-bug-webrtc-c-cast-to-unchecked-static-cast.md
Due: none

[canary] Bump version to 0.152.1-canary.1
  Cargo.lock
  Cargo.toml
Due: none

set_implementation_name をコピー専用に変更する
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  webrtc/src/webrtc_c/api/video_codecs/video_decoder.cc
  webrtc/src/webrtc_c/api/video_codecs/video_decoder.h
  webrtc/src/webrtc_c/api/video_codecs/video_encoder.cc
  webrtc/src/webrtc_c/api/video_codecs/video_encoder.h
Due: cargo-fmt, cargo-clippy, clang-format

0096 open optional 用ヘルパーを非プリミティブ型でも扱えるようにする
  issues/0096-refactor-support-non-primitive-optional-helper.md
  issues/SEQUENCE
Due: none

0097 open webrtc_c の C API の const 性を正しく設定する
  issues/0097-refactor-c-const-correctness.md
  issues/SEQUENCE
Due: none

0147 audio の encoder / decoder をユーザー側でカスタム可能にする
  CHANGES.md
  Cargo.lock
  Cargo.toml
  src/api/audio.rs
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/error.rs
  src/helper/optional.rs
  src/lib.rs
  src/rtc_base/buffer.rs
  src/rtc_base/mod.rs
  src/tests.rs
  src/util.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/api/audio_codecs/audio_codec_pair_id.cc
  webrtc/src/webrtc_c/api/audio_codecs/audio_codec_pair_id.h
  webrtc/src/webrtc_c/api/audio_codecs/audio_decoder.cc
  webrtc/src/webrtc_c/api/audio_codecs/audio_decoder.h
  webrtc/src/webrtc_c/api/audio_codecs/audio_decoder_factory.cc
  webrtc/src/webrtc_c/api/audio_codecs/audio_decoder_factory.h
  webrtc/src/webrtc_c/api/audio_codecs/audio_encoder.cc
  webrtc/src/webrtc_c/api/audio_codecs/audio_encoder.h
  webrtc/src/webrtc_c/api/audio_codecs/audio_encoder_factory.cc
  webrtc/src/webrtc_c/api/audio_codecs/audio_encoder_factory.h
  webrtc/src/webrtc_c/api/audio_codecs/audio_format.cc
  webrtc/src/webrtc_c/api/audio_codecs/audio_format.h
  webrtc/src/webrtc_c/rtc_base/buffer.cc
  webrtc/src/webrtc_c/rtc_base/buffer.h
Due: cargo-fmt, cargo-clippy, clang-format

0147 音声コーデック API のレビュー指摘を反映する
  CHANGES.md
  src/api/audio.rs
  src/api/video_codec_common.rs
  src/lib.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/audio_codecs/audio_decoder.cc
  webrtc/src/webrtc_c/api/audio_codecs/audio_decoder.h
  webrtc/src/webrtc_c/api/audio_codecs/audio_encoder.cc
  webrtc/src/webrtc_c/api/audio_codecs/audio_encoder.h
  webrtc/src/webrtc_c/api/audio_codecs/audio_format.cc
  webrtc/src/webrtc_c/api/video_codecs/video_decoder.cc
  webrtc/src/webrtc_c/api/video_codecs/video_encoder.cc
Due: cargo-fmt, cargo-clippy, clang-format

0147 ビットレート割り当て通知に BitrateAllocationUpdate を導入する
  CHANGES.md
  src/api/audio.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c/api/audio_codecs/audio_encoder.cc
  webrtc/src/webrtc_c/api/audio_codecs/audio_encoder.h
  webrtc/src/webrtc_c/api/call/bitrate_allocation.cc
  webrtc/src/webrtc_c/api/call/bitrate_allocation.h
Due: cargo-fmt, cargo-clippy, clang-format

0147 音声コーデック API のレビュー指摘を反映する
  CHANGES.md
  src/api/audio.rs
  src/cxxstd.rs
  src/rtc_base/buffer.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/audio_codecs/audio_encoder.cc
  webrtc/src/webrtc_c/api/audio_codecs/audio_encoder.h
  webrtc/src/webrtc_c/api/call/bitrate_allocation.cc
  webrtc/src/webrtc_c/api/call/bitrate_allocation.h
Due: cargo-fmt, cargo-clippy, clang-format

0147 codec_pair_id の取得をグローバル ID を消費しない形に変更する
  src/api/audio.rs
  webrtc/src/webrtc_c/api/audio_codecs/audio_encoder_factory.cc
  webrtc/src/webrtc_c/api/audio_codecs/audio_encoder_factory.h
Due: cargo-fmt, cargo-clippy, clang-format

0147 音声コーデック API のレビュー指摘を反映する
  CHANGES.md
  src/api/audio.rs
  src/api/video_codec_common.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/audio_codecs/audio_decoder.cc
  webrtc/src/webrtc_c/api/audio_codecs/audio_decoder_factory.cc
  webrtc/src/webrtc_c/api/audio_codecs/audio_encoder.cc
  webrtc/src/webrtc_c/api/audio_codecs/audio_encoder.h
  webrtc/src/webrtc_c/api/audio_codecs/audio_encoder_factory.cc
Due: cargo-fmt, cargo-clippy, clang-format

AudioEncoder / AudioDecoder 周りの機能を C API と Rust から利用可能にする (#88)
  CHANGES.md
  src/api/audio.rs
  src/api/video_codec_common.rs
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/cxxstd.rs
  src/error.rs
  src/helper/optional.rs
  src/lib.rs
  src/rtc_base/buffer.rs
  src/rtc_base/mod.rs
  src/tests.rs
  src/util.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/api/audio_codecs/audio_codec_pair_id.cc
  webrtc/src/webrtc_c/api/audio_codecs/audio_codec_pair_id.h
  webrtc/src/webrtc_c/api/audio_codecs/audio_decoder.cc
  webrtc/src/webrtc_c/api/audio_codecs/audio_decoder.h
  webrtc/src/webrtc_c/api/audio_codecs/audio_decoder_factory.cc
  webrtc/src/webrtc_c/api/audio_codecs/audio_decoder_factory.h
  webrtc/src/webrtc_c/api/audio_codecs/audio_encoder.cc
  webrtc/src/webrtc_c/api/audio_codecs/audio_encoder.h
  webrtc/src/webrtc_c/api/audio_codecs/audio_encoder_factory.cc
  webrtc/src/webrtc_c/api/audio_codecs/audio_encoder_factory.h
  webrtc/src/webrtc_c/api/audio_codecs/audio_format.cc
  webrtc/src/webrtc_c/api/audio_codecs/audio_format.h
  webrtc/src/webrtc_c/api/call/bitrate_allocation.cc
  webrtc/src/webrtc_c/api/call/bitrate_allocation.h
  webrtc/src/webrtc_c/api/video_codecs/video_decoder.cc
  webrtc/src/webrtc_c/api/video_codecs/video_decoder.h
  webrtc/src/webrtc_c/api/video_codecs/video_encoder.cc
  webrtc/src/webrtc_c/api/video_codecs/video_encoder.h
  webrtc/src/webrtc_c/rtc_base/buffer.cc
  webrtc/src/webrtc_c/rtc_base/buffer.h
Due: cargo-fmt, cargo-clippy, clang-format
