Repository shiguredo/webrtc-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, clang-format

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  entry: clang-format --dry-run --Werror
  language: system

VideoCodec と VideoFrame を編集する関数を追加
  CHANGES.md
  src/api/video_codec_common.rs
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/api/video/video_frame.cc
  webrtc/src/webrtc_c/api/video/video_frame.h
  webrtc/src/webrtc_c/api/video_codecs/simulcast_stream.cc
  webrtc/src/webrtc_c/api/video_codecs/simulcast_stream.h
  webrtc/src/webrtc_c/api/video_codecs/video_codec.cc
  webrtc/src/webrtc_c/api/video_codecs/video_codec.h
Due: cargo-fmt, cargo-clippy, clang-format

VideoCodec と VideoFrame を編集する関数を追加 (#52)
  CHANGES.md
  src/api/video_codec_common.rs
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/api/video/video_frame.cc
  webrtc/src/webrtc_c/api/video/video_frame.h
  webrtc/src/webrtc_c/api/video_codecs/simulcast_stream.cc
  webrtc/src/webrtc_c/api/video_codecs/simulcast_stream.h
  webrtc/src/webrtc_c/api/video_codecs/video_codec.cc
  webrtc/src/webrtc_c/api/video_codecs/video_codec.h
Due: cargo-fmt, cargo-clippy, clang-format

[canary] Bump version to 0.147.1-canary.2
  Cargo.lock
  Cargo.toml
Due: none

VP9 の設定を追加する
  src/api/video_encoder.rs
  webrtc/src/webrtc_c/modules/video_coding/include/video_codec_interface.cc
  webrtc/src/webrtc_c/modules/video_coding/include/video_codec_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

kNoTemporalIdx や kNoPictureId などの定数を利用可能にする
  CHANGES.md
  src/api/video_encoder.rs
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/modules/video_coding/codecs/interface/common_constants.cc
  webrtc/src/webrtc_c/modules/video_coding/codecs/interface/common_constants.h
Due: cargo-fmt, cargo-clippy, clang-format

VP9 の設定を追加する (#53)
  CHANGES.md
  src/api/video_encoder.rs
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/modules/video_coding/codecs/interface/common_constants.cc
  webrtc/src/webrtc_c/modules/video_coding/codecs/interface/common_constants.h
  webrtc/src/webrtc_c/modules/video_coding/include/video_codec_interface.cc
  webrtc/src/webrtc_c/modules/video_coding/include/video_codec_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

[canary] Bump version to 0.147.1-canary.3
  Cargo.lock
  Cargo.toml
Due: none

raspberry-pi-os を自動的に判別する
  build.rs
Due: cargo-fmt, cargo-clippy

[canary] Bump version to 0.147.1-canary.4
  Cargo.lock
  Cargo.toml
Due: none

ほぼ全ての構造体に Send を付与し、定義順を統一する
  CHANGES.md
  examples/whip/src/main.rs
  src/api/audio.rs
  src/api/audio_device_module.rs
  src/api/data_channel.rs
  src/api/dtls_transport.rs
  src/api/environment.rs
  src/api/jsep.rs
  src/api/media_stream.rs
  src/api/peer_connection.rs
  src/api/rtc_error.rs
  src/api/rtc_event_log.rs
  src/api/rtp.rs
  src/api/stats.rs
  src/api/video.rs
  src/api/video_codec_common.rs
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/cxxstd.rs
  src/lib.rs
  src/rtc_base/ssl_certificate.rs
  src/rtc_base/ssl_identity.rs
  src/rtc_base/thread.rs
  src/rtc_base/timestamp_aligner.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

[canary] Bump version to 0.147.1-canary.5
  Cargo.lock
  Cargo.toml
Due: none

shiguredo_webrtc と libwebrtc_c の skill を追加する
  skills/libwebrtc_c/SKILL.md
  skills/shiguredo_webrtc/SKILL.md
Due: none

CHANGES.md の misc に skill 追加のエントリを追記する
  CHANGES.md
Due: none

Feature/skills (#54)
  CHANGES.md
  skills/libwebrtc_c/SKILL.md
  skills/shiguredo_webrtc/SKILL.md
Due: none

clippy::type_complexity 警告を型別名で解消する
  src/tests.rs
Due: cargo-fmt, cargo-clippy

PeerConnectionRtcConfiguration に always_negotiate_data_channels オプションを追加する
  CHANGES.md
  issues/0010-feature-add-always-negotiate-data-channels.md
  issues/SEQUENCE
  src/api/peer_connection.rs
  tests/peer_connection_always_negotiate_data_channels.rs
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

テストを統合
  src/tests.rs
  tests/peer_connection_always_negotiate_data_channels.rs
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
Due: cargo-fmt, cargo-clippy, clang-format

PeerConnectionRtcConfiguration に always_negotiate_data_channels オプションを追加する (#55)
  CHANGES.md
  issues/0010-feature-add-always-negotiate-data-channels.md
  issues/SEQUENCE
  src/api/peer_connection.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

[canary] Bump version to 0.147.1-canary.6
  Cargo.lock
  Cargo.toml
Due: none

バージョンを上げる
  Cargo.lock
  Cargo.toml
Due: none

authors を削除する
  Cargo.toml
Due: none

変更履歴を更新する
  CHANGES.md
Due: none

cargo update
  Cargo.lock
Due: none

agent 関連の無視リスト更新
  .gitignore
Due: none

0.147.1
  CHANGES.md
Due: none

libwebrtc を m148 に上げる
  Cargo.lock
  Cargo.toml
Due: none

libwebrtc のバージョンを
  CHANGES.md
  Cargo.lock
  Cargo.toml
Due: none

libwebrtc のバージョンを上げる
  Cargo.lock
  Cargo.toml
Due: none

examples の依存を更新する
  CHANGES.md
  Cargo.lock
  examples/whep/Cargo.toml
  examples/whep/src/main.rs
  examples/whip/Cargo.toml
  examples/whip/src/main.rs
Due: cargo-fmt, cargo-clippy

libwebrtc を m148 に上げる (#56)
  CHANGES.md
  Cargo.lock
  Cargo.toml
  examples/whep/Cargo.toml
  examples/whep/src/main.rs
  examples/whip/Cargo.toml
  examples/whip/src/main.rs
Due: cargo-fmt, cargo-clippy

markdownlint ファイル追加
  .markdownlint.jsonc
Due: none

prek.toml の hooks を整備する
  prek.toml
Due: none

issue template 追加と AGENTS.md 更新
  AGENTS.md
  issues/0000-template.md
Due: none

README.md のバッジを http11-rs と同様の構成に揃える
  README.md
Due: none

claude.yml 削除
  .github/workflows/claude.yml
Due: none

GitHub Actions の参照をコミット SHA で固定し最新版に更新する
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

GitHub Actions で Apple XCFramework を自動リリースする
  .github/workflows/release.yml
  CHANGES.md
  scripts/package_apple_xcframework.sh
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  clang-format: any of: ^webrtc/src/ and \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
