Repository shiguredo/webrtc-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, clang-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
      - id: clang-format
        name: clang-format
        entry: clang-format --dry-run --Werror
        language: system
        types_or: [c, c++]
        files: ^webrtc/src/

0077 解決方法を追記する
  issues/0077-bug-get-stats-callback-box-leak.md
Due: none

0077 closed get_stats のコールバック未発火時に user_data の Box がリークする
  issues/closed/0077-bug-get-stats-callback-box-leak.md
Due: none

get_stats のコールバック未発火時の Box リークを修正する (#74)
  CHANGES.md
  issues/closed/0077-bug-get-stats-callback-box-leak.md
  src/api/peer_connection.rs
  src/tests.rs
  webrtc/RULES.md
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/stats/rtc_stats_collector_callback.h
Due: cargo-fmt, cargo-clippy, clang-format

0078 ScopedRef 系の内部機構を pub(crate) 化する
  CHANGES.md
  src/api/stats.rs
  src/lib.rs
  src/ref_count.rs
Due: cargo-fmt, cargo-clippy

0078 解決方法を追記する
  issues/0078-bug-scoped-ref-from-raw-safety.md
Due: none

0078 closed ScopedRef 系の内部機構の公開を pub(crate) 化する
  issues/closed/0078-bug-scoped-ref-from-raw-safety.md
Due: none

ScopedRef 系の内部機構を pub(crate) 化する (#75)
  CHANGES.md
  issues/closed/0078-bug-scoped-ref-from-raw-safety.md
  src/api/stats.rs
  src/lib.rs
  src/ref_count.rs
Due: cargo-fmt, cargo-clippy

[canary] Bump version to 0.152.1-canary.0
  Cargo.lock
  Cargo.toml
Due: none

0080 convert_to_i420 の入力長不足によるオーバーリードを修正する
  CHANGES.md
  src/libyuv.rs
  tests/test_libyuv.rs
Due: cargo-fmt, cargo-clippy

0080 解決方法を追記する
  issues/0080-bug-libyuv-convert-to-i420-src-len-check.md
Due: none

0080 closed convert_to_i420 が src_frame の必要長を検証していない
  issues/closed/0080-bug-libyuv-convert-to-i420-src-len-check.md
Due: none

convert_to_i420 の入力長不足によるオーバーリードを修正する (#76)
  CHANGES.md
  issues/closed/0080-bug-libyuv-convert-to-i420-src-len-check.md
  src/libyuv.rs
  tests/test_libyuv.rs
Due: cargo-fmt, cargo-clippy

0083 webrtc_Thread_Quit を追加する
  CHANGES.md
  src/rtc_base/thread.rs
  src/tests.rs
  webrtc/src/webrtc_c/rtc_base/thread.cc
  webrtc/src/webrtc_c/rtc_base/thread.h
Due: cargo-fmt, cargo-clippy, clang-format

0083 解決方法を追記する
  issues/0083-add-webrtc-c-thread-quit.md
Due: none

0083 closed webrtc::Thread::Quit 相当の C API を追加する
  issues/closed/0083-add-webrtc-c-thread-quit.md
Due: none

webrtc::Thread::Quit 相当の C API を追加する (#77)
  CHANGES.md
  issues/closed/0083-add-webrtc-c-thread-quit.md
  src/rtc_base/thread.rs
  src/tests.rs
  webrtc/src/webrtc_c/rtc_base/thread.cc
  webrtc/src/webrtc_c/rtc_base/thread.h
Due: cargo-fmt, cargo-clippy, clang-format

0084 webrtc_Thread_SleepMs の戻り値破棄に対処する
  CHANGES.md
  src/rtc_base/thread.rs
  src/tests.rs
  webrtc/src/webrtc_c/rtc_base/thread.cc
  webrtc/src/webrtc_c/rtc_base/thread.h
Due: cargo-fmt, cargo-clippy, clang-format

0084 解決方法を追記する
  issues/0084-bug-webrtc-c-thread-sleepms-return-value.md
Due: none

0084 closed webrtc_Thread_SleepMs の戻り値破棄に対処する
  issues/closed/0084-bug-webrtc-c-thread-sleepms-return-value.md
Due: none

webrtc_Thread_SleepMs の戻り値破棄に対処する (#78)
  CHANGES.md
  issues/closed/0084-bug-webrtc-c-thread-sleepms-return-value.md
  src/rtc_base/thread.rs
  src/tests.rs
  webrtc/src/webrtc_c/rtc_base/thread.cc
  webrtc/src/webrtc_c/rtc_base/thread.h
Due: cargo-fmt, cargo-clippy, clang-format

0085 Thread::blocking_call が停止中のスレッドで未初期化ポインタを返す問題を修正する
  CHANGES.md
  src/rtc_base/thread.rs
  src/tests.rs
  webrtc/src/webrtc_c/rtc_base/thread.cc
Due: cargo-fmt, cargo-clippy, clang-format

0085 解決方法を追記する
  issues/0085-bug-thread-blocking-call-r-uninitialized-return.md
Due: none

0085 closed Thread::blocking_call が停止中のスレッドで未初期化ポインタを返す
  issues/closed/0085-bug-thread-blocking-call-r-uninitialized-return.md
Due: none

0074 bindgen で objc.h を読み込めるようにする
  build.rs
Due: cargo-fmt, cargo-clippy

Thread::blocking_call が停止中のスレッドで未初期化ポインタを返す問題を修正する (#79)
  CHANGES.md
  issues/closed/0085-bug-thread-blocking-call-r-uninitialized-return.md
  src/rtc_base/thread.rs
  src/tests.rs
  webrtc/src/webrtc_c/rtc_base/thread.cc
Due: cargo-fmt, cargo-clippy, clang-format

不要なコメントを削除
  webrtc/CMakeLists.txt
Due: none

0074 解決方法を追記する
  issues/0074-bug-objc-factory-double-retain.md
Due: none

0074 closed ObjC ビデオコーデックファクトリの二重リテインによるメモリリーク
  issues/closed/0074-bug-objc-factory-double-retain.md
Due: none

0074 AVFoundation の import を extern "C" の外に移動して iOS ビルドエラーを修正する
  webrtc/src/webrtc_c/objc.mm
Due: none

ObjC ビデオコーデックファクトリの二重リテインによるメモリリークを修正する (#80)
  build.rs
  issues/closed/0074-bug-objc-factory-double-retain.md
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c/objc.h
  webrtc/src/webrtc_c/objc.mm
Due: cargo-fmt, cargo-clippy, clang-format

0092 open FileRotatingLogSink と CallSessionFileRotatingLogSink を利用可能にする
  issues/0092-add-file-rotating-log-sink.md
  issues/SEQUENCE
Due: none

0089 実体とずれている &mut / &mut self を &・値渡し・&self に変更する
  CHANGES.md
  README.md
  examples/whep/src/main.rs
  examples/whip/src/main.rs
  issues/0089-refactor-remove-unnecessary-mut-borrow.md
  skills/shiguredo_webrtc/SKILL.md
  src/api/audio.rs
  src/api/data_channel.rs
  src/api/peer_connection.rs
  src/api/video.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

0089 解決方法を追記する
  issues/0089-refactor-remove-unnecessary-mut-borrow.md
Due: none

0089 closed 実体とずれている &mut / &mut self を &・値渡し・&self に変更する
  issues/closed/0089-refactor-remove-unnecessary-mut-borrow.md
Due: none

実体とずれている &mut / &mut self を &・値渡し・&self に変更する (#81)
  CHANGES.md
  README.md
  examples/whep/src/main.rs
  examples/whip/src/main.rs
  issues/0089-refactor-remove-unnecessary-mut-borrow.md
  issues/closed/0089-refactor-remove-unnecessary-mut-borrow.md
  skills/shiguredo_webrtc/SKILL.md
  src/api/audio.rs
  src/api/data_channel.rs
  src/api/peer_connection.rs
  src/api/video.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

0090 FFI の optional 値 (has/value) を持つ getter/setter のボイラープレートを共通ヘルパー化する
  CHANGES.md
  src/api/audio.rs
  src/api/frame_transformer.rs
  src/api/mod.rs
  src/api/optional.rs
  src/api/rtp.rs
  src/api/video_codec_common.rs
  src/api/video_encoder.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

0090 解決方法を追記する
  issues/0090-refactor-unify-optional-value-accessor.md
Due: none

0090 closed FFI の optional 値 (has/value) を持つ getter/setter のボイラープレートを共通ヘルパー化する
  issues/closed/0090-refactor-unify-optional-value-accessor.md
Due: none

FFI の optional 値 (has/value) を持つ getter/setter のボイラープレートを共通ヘルパー化する (#82)
  CHANGES.md
  issues/closed/0090-refactor-unify-optional-value-accessor.md
  src/api/audio.rs
  src/api/frame_transformer.rs
  src/api/mod.rs
  src/api/optional.rs
  src/api/rtp.rs
  src/api/video_codec_common.rs
  src/api/video_encoder.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

0091 C API から返る null チェック済みポインタのコンストラクタを共通ヘルパー化する
  CHANGES.md
  src/api/audio.rs
  src/api/audio_device_module.rs
  src/api/data_channel.rs
  src/api/dtls_transport.rs
  src/api/environment.rs
  src/api/frame_transformer.rs
  src/api/jsep.rs
  src/api/media_stream.rs
  src/api/peer_connection.rs
  src/api/rtc_error.rs
  src/api/rtc_event_log.rs
  src/api/rtp.rs
  src/api/stats.rs
  src/api/video.rs
  src/api/video_codec_common.rs
  src/api/video_codec_specifics.rs
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/cxxstd.rs
  src/lib.rs
  src/non_null.rs
  src/ref_count.rs
  src/rtc_base/crypto_random.rs
  src/rtc_base/logging.rs
  src/rtc_base/ssl_certificate.rs
  src/rtc_base/thread.rs
  src/rtc_base/timestamp_aligner.rs
Due: cargo-fmt, cargo-clippy
