Repository shiguredo/webrtc-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, clang-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
      - id: clang-format
        name: clang-format
        entry: clang-format --dry-run --Werror
        language: system
        types_or: [c, c++]
        files: ^webrtc/src/

0040 webrtc_RTCError_message の一時文字列二重構築を解消する
  webrtc/src/webrtc_c/api/rtc_error.cc
Due: clang-format

0040 解決方法を追記する
  issues/0040-refactor-webrtc-c-rtc-error-message-temp.md
Due: none

0040 closed webrtc_RTCError_message の一時文字列二重構築を解消する
  issues/closed/0040-refactor-webrtc-c-rtc-error-message-temp.md
Due: none

webrtc_RTCError_message の一時文字列二重構築を解消する (#69)
  issues/closed/0040-refactor-webrtc-c-rtc-error-message-temp.md
  webrtc/src/webrtc_c/api/rtc_error.cc
Due: clang-format

0045 webrtc_c のログ固定バッファによる切り詰めを緩和する
  CHANGES.md
  src/tests.rs
  webrtc/src/webrtc_c/rtc_base/logging.cc
Due: cargo-fmt, cargo-clippy, clang-format

0045 解決方法を追記する
  issues/0045-bug-webrtc-c-log-truncation-buffer.md
Due: none

0045 closed webrtc_c のログ固定バッファによる切り詰めを緩和する
  issues/closed/0045-bug-webrtc-c-log-truncation-buffer.md
Due: none

webrtc_c のログ固定バッファによる切り詰めを緩和する (#70)
  CHANGES.md
  issues/closed/0045-bug-webrtc-c-log-truncation-buffer.md
  src/tests.rs
  webrtc/src/webrtc_c/rtc_base/logging.cc
Due: cargo-fmt, cargo-clippy, clang-format

0074 ObjC ビデオコーデックファクトリの二重リテインによるメモリリークを修正する
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c/objc.h
  webrtc/src/webrtc_c/objc.mm
Due: cargo-fmt, cargo-clippy, clang-format

0075 CreateModularPeerConnectionFactoryWithContext が薄いラッパーでない理由をコメントに明記する
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
Due: clang-format

0075 解決方法を追記する
  issues/0075-doc-create-modular-with-context-note.md
Due: none

0075 closed CreateModularPeerConnectionFactoryWithContext が薄いラッパーでない理由をコメントに明記する
  issues/closed/0075-doc-create-modular-with-context-note.md
Due: none

0076 Thread::blocking_call に Send + 'static 境界を追加する
  CHANGES.md
  src/rtc_base/thread.rs
Due: cargo-fmt, cargo-clippy

0076 解決方法を追記する
  issues/0076-bug-thread-blocking-call-send-bound.md
Due: none

0076 closed Thread::blocking_call に F: Send + 'static 境界がない
  issues/closed/0076-bug-thread-blocking-call-send-bound.md
Due: none

Thread::blocking_call に Send + 'static 境界を追加する (#71)
  CHANGES.md
  issues/closed/0076-bug-thread-blocking-call-send-bound.md
  src/rtc_base/thread.rs
Due: cargo-fmt, cargo-clippy

0086 open DegradationPreference の DISABLED を MAINTAIN_FRAMERATE_AND_RESOLUTION に揃える
  issues/0086-update-degradation-preference.md
  issues/SEQUENCE
Due: none

整備
  AGENTS.md
Due: none

0087 open AudioOptions による音声処理設定の API を追加する
  issues/0087-add-audio-options.md
  issues/SEQUENCE
Due: none

0073 open ログレベルの設定が無効になっている
  issues/0073-bug-logging-config-not-applied.md
Due: none

0073 ログレベルの設定を InitializeLogging に移行する
  CHANGES.md
  README.md
  examples/whep/src/main.rs
  examples/whip/src/main.rs
  skills/shiguredo_webrtc/SKILL.md
  src/rtc_base/logging.rs
  src/tests.rs
  webrtc/src/webrtc_c/rtc_base/logging.cc
  webrtc/src/webrtc_c/rtc_base/logging.h
  webrtc/src/whip.c
Due: cargo-fmt, cargo-clippy, clang-format

0073 解決方法を追記する
  issues/0073-bug-logging-config-not-applied.md
Due: none

0073 closed ログレベルの設定が無効になっている
  issues/closed/0073-bug-logging-config-not-applied.md
Due: none

変更履歴を更新する
  CHANGES.md
Due: none

整備
  Cargo.lock
  prek.toml
Due: none

webrtc_c の RTC_LOG_INFO マクロを clang-format で整形する
  webrtc/src/webrtc_c/rtc_base/logging.h
Due: clang-format

0086 DegradationPreference::Disabled を MaintainFramerateAndResolution に変名する
  CHANGES.md
  src/api/rtp.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/rtp_parameters.cc
  webrtc/src/webrtc_c/api/rtp_parameters.h
Due: cargo-fmt, cargo-clippy, clang-format

0086 解決方法を追記する
  issues/0086-update-degradation-preference.md
Due: none

0086 closed DegradationPreference の DISABLED を MAINTAIN_FRAMERATE_AND_RESOLUTION に揃える
  issues/closed/0086-update-degradation-preference.md
Due: none

DegradationPreference::Disabled を MaintainFramerateAndResolution に変名する (#72)
  CHANGES.md
  issues/closed/0086-update-degradation-preference.md
  src/api/rtp.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/rtp_parameters.cc
  webrtc/src/webrtc_c/api/rtp_parameters.h
  webrtc/src/webrtc_c/rtc_base/logging.h
Due: cargo-fmt, cargo-clippy, clang-format

0088 open カスタム LogSink を設定可能にする
  issues/0088-add-custom-log-sink.md
  issues/SEQUENCE
Due: none

ログ初期化 API を webrtc_LoggingConfig の C ラッパー経由に変更する
  CHANGES.md
  README.md
  examples/whip/src/main.rs
  skills/shiguredo_webrtc/SKILL.md
  src/rtc_base/logging.rs
  src/tests.rs
  webrtc/src/webrtc_c/rtc_base/logging.cc
  webrtc/src/webrtc_c/rtc_base/logging.h
  webrtc/src/whip.c
  webrtc/src/whip.cpp
Due: cargo-fmt, cargo-clippy, clang-format

0089 open 読み取り専用なのに &mut で受け取っている引数を & に変更する
  issues/0089-refactor-remove-unnecessary-mut-borrow.md
  issues/SEQUENCE
Due: none

0087 AudioOptions による音声処理設定の API を追加する
  CHANGES.md
  src/api/audio.rs
  src/api/peer_connection.rs
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/api/audio/audio_options.cc
  webrtc/src/webrtc_c/api/audio/audio_options.h
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

0087 解決方法を追記する
  issues/0087-add-audio-options.md
Due: none

0087 closed AudioOptions による音声処理設定の API を追加する
  issues/closed/0087-add-audio-options.md
Due: none

AudioOptions による音声処理設定の API を追加する (#73)
  CHANGES.md
  issues/closed/0087-add-audio-options.md
  src/api/audio.rs
  src/api/peer_connection.rs
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/api/audio/audio_options.cc
  webrtc/src/webrtc_c/api/audio/audio_options.h
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

0090-0091 open
  issues/0090-refactor-unify-optional-value-accessor.md
  issues/0091-refactor-non-null-constructor.md
  issues/SEQUENCE
Due: none

0089 スコープを拡大して deps の値渡し化とレシーバの &self 化を追加する
  issues/0089-refactor-remove-unnecessary-mut-borrow.md
Due: none

0077 get_stats のコールバック未発火時の Box リークを修正する
  CHANGES.md
  src/api/peer_connection.rs
  src/tests.rs
  webrtc/RULES.md
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/stats/rtc_stats_collector_callback.h
Due: cargo-fmt, cargo-clippy, clang-format
