Repository shiguredo/webrtc-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, clang-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
      - id: clang-format
        name: clang-format
        entry: clang-format --dry-run --Werror
        language: system
        types_or: [c, c++]
        files: ^webrtc/src/

[canary] Bump version to 0.152.1-canary.2
  Cargo.lock
  Cargo.toml
Due: none

Factory 系 Handler trait を必須メソッド化する
  CHANGES.md
  src/api/audio.rs
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

libwebrtc を m152.7977.0.2 に上げる
  CHANGES.md
  Cargo.toml
Due: none

[canary] Bump version to 0.152.1-canary.3
  Cargo.lock
  Cargo.toml
Due: none

0098-0099 open
  issues/0098-add-rtp-receiver-stream-ids.md
  issues/0099-add-media-stream-track-state.md
  issues/SEQUENCE
Due: none

0098 polished RtpReceiver に stream_ids の取得口を追加する
  issues/0098-add-rtp-receiver-stream-ids.md
Due: none

0099 polished MediaStreamTrack に state の取得口を追加する
  issues/0099-add-media-stream-track-state.md
Due: none

logging ヘッダの書式を clang-format に合わせる
  webrtc/src/webrtc_c/rtc_base/logging.h
Due: clang-format

0098 解決方法を追記する
  issues/0098-add-rtp-receiver-stream-ids.md
Due: none

0098 closed RtpReceiver に stream_ids の取得口を追加する
  issues/closed/0098-add-rtp-receiver-stream-ids.md
Due: none

0098 RtpReceiver に stream_ids の取得口を追加する
  CHANGES.md
  src/api/rtp.rs
  src/cxxstd.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/rtp_receiver_interface.cc
  webrtc/src/webrtc_c/api/rtp_receiver_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

0099 解決方法を追記する
  issues/0099-add-media-stream-track-state.md
Due: none

0099 closed MediaStreamTrack に state の取得口を追加する
  issues/closed/0099-add-media-stream-track-state.md
Due: none

0099 MediaStreamTrack に state の取得口を追加する
  CHANGES.md
  src/api/rtp.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/media_stream_interface.cc
  webrtc/src/webrtc_c/api/media_stream_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

libwebrtc を m152.7977.0.3 に上げる
  CHANGES.md
  Cargo.toml
Due: none

[canary] Bump version to 0.152.1-canary.4
  Cargo.lock
  Cargo.toml
Due: none

バージョンを上げる
  CHANGES.md
  Cargo.lock
  Cargo.toml
Due: none

変更履歴を補完する
  CHANGES.md
Due: none

バージョンを上げる
  Cargo.lock
  Cargo.toml
Due: none

変更履歴を更新する
  CHANGES.md
Due: none

変更履歴更新する
  CHANGES.md
Due: none

整備
  CHANGES.md
  Cargo.lock
  Cargo.toml
Due: none

libwebrtc を m154 に上げてバージョンを 0.154.0 に上げる
  .vscode/launch.json
  Cargo.lock
  Cargo.toml
  README.md
  skills/libwebrtc_c/SKILL.md
  skills/shiguredo_webrtc/SKILL.md
  webrtc/RULES.md
Due: none

変更履歴を 0.154.0 に更新する
  CHANGES.md
Due: none

コメント修正
  CHANGES.md
  src/api/rtp.rs
  webrtc/src/webrtc_c/api/rtp_receiver_interface.cc
  webrtc/src/webrtc_c/api/rtp_receiver_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

RtpReceiver に stream_ids の取得口を追加する (#90)
  CHANGES.md
  issues/closed/0098-add-rtp-receiver-stream-ids.md
  src/api/rtp.rs
  src/cxxstd.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/rtp_receiver_interface.cc
  webrtc/src/webrtc_c/api/rtp_receiver_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

MediaStreamTrack に state の取得口を追加する (#91)
  CHANGES.md
  issues/closed/0099-add-media-stream-track-state.md
  src/api/rtp.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/media_stream_interface.cc
  webrtc/src/webrtc_c/api/media_stream_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

0100 open PeerConnectionRtcConfiguration に cpu_adaptation の取得・設定口を追加する
  issues/0100-add-cpu-adaptation.md
  issues/SEQUENCE
Due: none

C の関数名が間違っていたのを修正する
  CHANGES.md
  webrtc/src/webrtc_c/api/audio_codecs/audio_decoder_factory.cc
  webrtc/src/webrtc_c/api/audio_codecs/audio_decoder_factory.h
  webrtc/src/webrtc_c/api/audio_codecs/audio_encoder_factory.cc
  webrtc/src/webrtc_c/api/audio_codecs/audio_encoder_factory.h
Due: clang-format

Rust 側で旧 C API 名を参照していた箇所を修正する
  src/api/audio.rs
Due: cargo-fmt, cargo-clippy

C/C++ の変更でも clippy とテストのフックを実行する
  prek.toml
Due: none

VSCode の CMake ソースディレクトリを webrtc サブプロジェクトに設定する
  .vscode/settings.json
Due: none

スキル名の区切りをアンダースコアからハイフンに変更する
  skills/libwebrtc-c/SKILL.md
  skills/shiguredo-webrtc/SKILL.md
Due: none

0101 open PeerConnectionFactory に渡す worker thread を network thread に統一する
  issues/0101-refactor-unify-worker-thread.md
  issues/SEQUENCE
Due: none
