Repository shiguredo/webrtc-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, clang-format

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  entry: clang-format --dry-run --Werror
  language: system

closed に移動したのにまだ残ってるファイルを削除
  issues/0001-feature-add-audio-sink-interface-c-api.md
  issues/0002-feature-add-audio-track-sink-and-cast-c-api.md
Due: none

AudioTrack → AudioTrackSink
  src/api/audio.rs
Due: cargo-fmt, cargo-clippy

api/audio/audio_track_sink_interface.{h,cc} は libwebrtc に存在しない
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/api/audio/audio_track_sink_interface.cc
  webrtc/src/webrtc_c/api/audio/audio_track_sink_interface.h
  webrtc/src/webrtc_c/api/media_stream_interface.cc
  webrtc/src/webrtc_c/api/media_stream_interface.h
Due: clang-format

Feature/add audio sink (#37)
  CHANGES.md
  issues/closed/0001-feature-add-audio-sink-interface-c-api.md
  issues/closed/0002-feature-add-audio-track-sink-and-cast-c-api.md
  src/api/audio.rs
  src/api/rtp.rs
  webrtc/src/webrtc_c/api/dtls_transport_interface.cc
  webrtc/src/webrtc_c/api/media_stream_interface.cc
  webrtc/src/webrtc_c/api/media_stream_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

canary.py のバージョン更新をパッチバージョンのインクリメントに変更する
  canary.py
Due: none

[canary] Bump version to 0.146.2-canary.0
  Cargo.lock
  Cargo.toml
Due: none

コメント追加
  webrtc/src/webrtc_c/api/media_stream_interface.h
Due: clang-format

VideoEncoder::EncoderInfo の全フィールドと関連型 API を追加する (#34)
  CHANGES.md
  src/api/video_encoder.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/video_codecs/video_encoder.cc
  webrtc/src/webrtc_c/api/video_codecs/video_encoder.h
  webrtc/src/webrtc_c/common.h
  webrtc/src/webrtc_c/common.impl.h
Due: cargo-fmt, cargo-clippy, clang-format

[canary] Bump version to 0.146.2-canary.1
  Cargo.lock
  Cargo.toml
Due: none

変更履歴移動
  CHANGES.md
Due: none

dtls_transport_interface.cc を追加してなかった
  src/tests.rs
  webrtc/CMakeLists.txt
Due: cargo-fmt, cargo-clippy

[canary] Bump version to 0.146.2-canary.2
  Cargo.lock
  Cargo.toml
Due: none

RemoveTrackOrError の C API と Rust バインディングの issue を追加する
  issues/0003-feature-add-remove-track-api.md
  issues/0004-feature-add-remove-track-rust-binding.md
  issues/SEQUENCE
Due: none

PeerConnectionInterface::RemoveTrackOrError の C API と Rust バインディングを追加する
  src/api/peer_connection.rs
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

RemoveTrackOrError の issue をクローズして CHANGES.md に追記する
  CHANGES.md
  issues/closed/0003-feature-add-remove-track-api.md
  issues/closed/0004-feature-add-remove-track-rust-binding.md
Due: none

RtpSenderInterface::SetTrack の C API と Rust バインディングを追加する
  CHANGES.md
  issues/SEQUENCE
  issues/closed/0005-feature-add-set-track-api.md
  src/api/rtp.rs
  webrtc/src/webrtc_c/api/rtp_sender_interface.cc
  webrtc/src/webrtc_c/api/rtp_sender_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

[WIP] Feature/remove track (#39)
  CHANGES.md
  issues/SEQUENCE
  issues/closed/0003-feature-add-remove-track-api.md
  issues/closed/0004-feature-add-remove-track-rust-binding.md
  src/api/peer_connection.rs
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

RemoveTrackOrError の C API と Rust バインディングの issue を追加する
  issues/0003-feature-add-remove-track-api.md
  issues/0004-feature-add-remove-track-rust-binding.md
Due: none

Revert "RemoveTrackOrError の C API と Rust バインディングの issue を追加する"
  issues/0003-feature-add-remove-track-api.md
  issues/0004-feature-add-remove-track-rust-binding.md
Due: none

RtpSender::set_track を追加する (#40)
  CHANGES.md
  issues/SEQUENCE
  issues/closed/0005-feature-add-set-track-api.md
  src/api/rtp.rs
  webrtc/src/webrtc_c/api/rtp_sender_interface.cc
  webrtc/src/webrtc_c/api/rtp_sender_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

[canary] Bump version to 0.146.2-canary.3
  Cargo.lock
  Cargo.toml
Due: none

お試し
  .github/workflows/ci.yml
  .github/workflows/release.yml
  build.rs
Due: cargo-fmt, cargo-clippy

雑な修正
  build.rs
  src/api/audio_device_module.rs
Due: cargo-fmt, cargo-clippy

AudioParameters と Stats の実体を C++ 側のものにする
  CHANGES.md
  src/api/audio_device_module.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/audio/audio_device.cc
  webrtc/src/webrtc_c/api/audio/audio_device.h
  webrtc/src/webrtc_c/api/audio/audio_device_defines.cc
  webrtc/src/webrtc_c/api/audio/audio_device_defines.h
Due: cargo-fmt, cargo-clippy, clang-format

impl T for () を削除する
  CHANGES.md
  issues/SEQUENCE
  issues/closed/0006-change-remove-unit-handler-impl.md
  src/api/audio_device_module.rs
  src/api/data_channel.rs
  src/api/dtls_transport.rs
  src/api/peer_connection.rs
  src/api/video.rs
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/rtc_base/ssl_certificate.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

テスト復活
  .github/workflows/ci.yml
Due: none

コード整理
  build.rs
  webrtc/CMakeLists.txt
Due: cargo-fmt, cargo-clippy

iiOS / Android 向け CMake プラットフォーム値を Cargo.toml から取得する
  CHANGES.md
  Cargo.toml
  build.rs
Due: cargo-fmt, cargo-clippy

フォーマッタ
  webrtc/src/webrtc_c/api/audio/audio_device.cc
  webrtc/src/webrtc_c/api/audio/audio_device.h
  webrtc/src/webrtc_c/api/audio/audio_device_defines.cc
  webrtc/src/webrtc_c/api/audio/audio_device_defines.h
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/rtp_sender_interface.cc
Due: clang-format

r29 である必要は無いはず
  .github/workflows/ci.yml
  .github/workflows/release.yml
  build.rs
Due: cargo-fmt, cargo-clippy

Android ビルドでも WebRTC の clang を利用する
  webrtc/CMakeLists.txt
Due: none

Android NDK を自動でダウンロードする
  CHANGES.md
  Cargo.lock
  Cargo.toml
  build.rs
  webrtc/android.toolchain.cmake
Due: cargo-fmt, cargo-clippy

修正
  build.rs
  webrtc/android.toolchain.cmake
Due: cargo-fmt, cargo-clippy

お試しの修正
  build.rs
Due: cargo-fmt, cargo-clippy

Feature/mobile (#33)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGES.md
  Cargo.lock
  Cargo.toml
  build.rs
  issues/SEQUENCE
  issues/closed/0006-change-remove-unit-handler-impl.md
  src/api/audio_device_module.rs
  src/api/data_channel.rs
  src/api/dtls_transport.rs
  src/api/peer_connection.rs
  src/api/video.rs
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/rtc_base/ssl_certificate.rs
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/android.toolchain.cmake
  webrtc/src/webrtc_c/api/audio/audio_device.cc
  webrtc/src/webrtc_c/api/audio/audio_device.h
  webrtc/src/webrtc_c/api/audio/audio_device_defines.cc
  webrtc/src/webrtc_c/api/audio/audio_device_defines.h
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/rtp_sender_interface.cc
Due: cargo-fmt, cargo-clippy, clang-format

PeerConnectionFactory::get_rtp_receiver_capabilities を追加する
  CHANGES.md
  issues/0007-feature-add-get-rtp-receiver-capabilities.md
  issues/SEQUENCE
  src/api/peer_connection.rs
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

get_rtp_sender_capabilities のフォーマットを統一する
  src/api/peer_connection.rs
Due: cargo-fmt, cargo-clippy

PeerConnectionFactory::get_rtp_receiver_capabilities を追加する (#41)
  CHANGES.md
  issues/0007-feature-add-get-rtp-receiver-capabilities.md
  issues/SEQUENCE
  src/api/peer_connection.rs
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

README.md に AudioParameters と AudioTrackSink の API 記載を追加する
  README.md
Due: none

[canary] Bump version to 0.146.2-canary.4
  Cargo.lock
  Cargo.toml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  clang-format: any of: ^webrtc/src/ and \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
