Repository shiguredo/webrtc-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, clang-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
      - id: clang-format
        name: clang-format
        entry: clang-format --dry-run --Werror
        language: system
        types_or: [c, c++]
        files: ^webrtc/src/

release ワークフローの Verify packaged files の grep パターンを修正する
  .github/workflows/release.yml
Due: none

[canary] Bump version to 0.146.2-canary.5
  Cargo.lock
  Cargo.toml
Due: none

0.146.2 リリース準備
  CHANGES.md
  Cargo.lock
  Cargo.toml
Due: none

最低限の iOS/Android の関数を追加
  CHANGES.md
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c/android.h
  webrtc/src/webrtc_c/api/video/video_frame.cc
  webrtc/src/webrtc_c/api/video/video_frame.h
  webrtc/src/webrtc_c/ios.h
  webrtc/src/webrtc_c/jni_export.cc
  webrtc/src/webrtc_c/jni_export.h
  webrtc/src/webrtc_c/libyuv.cc
  webrtc/src/webrtc_c/libyuv.h
  webrtc/src/webrtc_c/sdk/android/native_api/audio_device_module/audio_device_android.cc
  webrtc/src/webrtc_c/sdk/android/native_api/audio_device_module/audio_device_android.h
  webrtc/src/webrtc_c/sdk/android/native_api/jni/class_loader.cc
  webrtc/src/webrtc_c/sdk/android/native_api/jni/class_loader.h
  webrtc/src/webrtc_c/sdk/android/src/jni/jvm.cc
  webrtc/src/webrtc_c/sdk/android/src/jni/jvm.h
  webrtc/src/webrtc_c/sdk/objc/components/audio/audio_session.h
  webrtc/src/webrtc_c/sdk/objc/components/audio/audio_session.mm
Due: clang-format

objc 系のエクスポート
  CHANGES.md
  webrtc/CMakeLists.txt
  webrtc/run.py
  webrtc/src/webrtc_c/api/video/video_frame.cc
  webrtc/src/webrtc_c/api/video/video_frame.h
  webrtc/src/webrtc_c/ios.h
  webrtc/src/webrtc_c/libyuv.cc
  webrtc/src/webrtc_c/objc.h
  webrtc/src/webrtc_c/objc.mm
Due: clang-format

iOS のビルドエラーを直す
  webrtc/src/webrtc_c/objc.h
  webrtc/src/webrtc_c/objc.mm
  webrtc/src/webrtc_c/sdk/objc/components/audio/audio_session.mm
Due: clang-format

NSError が被ってた
  webrtc/src/webrtc_c/sdk/objc/components/audio/audio_session.h
  webrtc/src/webrtc_c/sdk/objc/components/audio/audio_session.mm
Due: clang-format

void* を objc_Class にする
  webrtc/src/webrtc_c/objc.h
  webrtc/src/webrtc_c/objc.mm
Due: clang-format

void* がまだあった
  webrtc/src/webrtc_c/sdk/objc/components/audio/audio_session.h
  webrtc/src/webrtc_c/sdk/objc/components/audio/audio_session.mm
Due: clang-format

const性を考慮しない
  webrtc/src/webrtc_c/objc.h
  webrtc/src/webrtc_c/objc.mm
Due: clang-format

iOS/Android の関数を追加 (#42)
  CHANGES.md
  webrtc/CMakeLists.txt
  webrtc/run.py
  webrtc/src/webrtc_c/android.h
  webrtc/src/webrtc_c/api/video/video_frame.cc
  webrtc/src/webrtc_c/api/video/video_frame.h
  webrtc/src/webrtc_c/ios.h
  webrtc/src/webrtc_c/jni_export.cc
  webrtc/src/webrtc_c/jni_export.h
  webrtc/src/webrtc_c/libyuv.cc
  webrtc/src/webrtc_c/libyuv.h
  webrtc/src/webrtc_c/objc.h
  webrtc/src/webrtc_c/objc.mm
  webrtc/src/webrtc_c/sdk/android/native_api/audio_device_module/audio_device_android.cc
  webrtc/src/webrtc_c/sdk/android/native_api/audio_device_module/audio_device_android.h
  webrtc/src/webrtc_c/sdk/android/native_api/jni/class_loader.cc
  webrtc/src/webrtc_c/sdk/android/native_api/jni/class_loader.h
  webrtc/src/webrtc_c/sdk/android/src/jni/jvm.cc
  webrtc/src/webrtc_c/sdk/android/src/jni/jvm.h
  webrtc/src/webrtc_c/sdk/objc/components/audio/audio_session.h
  webrtc/src/webrtc_c/sdk/objc/components/audio/audio_session.mm
Due: clang-format

Rust から VideoFrameBuffer を利用可能にする
  CHANGES.md
  examples/whep/src/main.rs
  examples/whip/src/main.rs
  src/api/video_codec_common.rs
  src/api/video_encoder.rs
  src/ref_count.rs
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/api/video/i420_buffer.cc
  webrtc/src/webrtc_c/api/video/i420_buffer.h
  webrtc/src/webrtc_c/api/video/video_frame.cc
  webrtc/src/webrtc_c/api/video/video_frame.h
  webrtc/src/webrtc_c/api/video/video_frame_buffer.cc
  webrtc/src/webrtc_c/api/video/video_frame_buffer.h
  webrtc/src/whep.c
  webrtc/src/whip.c
Due: cargo-fmt, cargo-clippy, clang-format

I420Buffer の fill_y, fill_uv を削除
  CHANGES.md
  src/api/video_codec_common.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

crop_and_scale を追加
  CHANGES.md
  src/api/video_codec_common.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/video/video_frame_buffer.cc
  webrtc/src/webrtc_c/api/video/video_frame_buffer.h
Due: cargo-fmt, cargo-clippy, clang-format

NV12Buffer を追加
  CHANGES.md
  src/api/video_codec_common.rs
  src/ref_count.rs
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/api/video/nv12_buffer.cc
  webrtc/src/webrtc_c/api/video/nv12_buffer.h
Due: cargo-fmt, cargo-clippy, clang-format

chroma_width, chroma_height を追加
  CHANGES.md
  src/api/video_codec_common.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/video/i420_buffer.cc
  webrtc/src/webrtc_c/api/video/i420_buffer.h
  webrtc/src/webrtc_c/api/video/nv12_buffer.cc
  webrtc/src/webrtc_c/api/video/nv12_buffer.h
Due: cargo-fmt, cargo-clippy, clang-format

VideoFrame に Clone トレイトを実装する
  CHANGES.md
  src/api/video_codec_common.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/video/video_frame.cc
  webrtc/src/webrtc_c/api/video/video_frame.h
Due: cargo-fmt, cargo-clippy, clang-format

libyuv の変換関数で NV12Buffer を利用する
  CHANGES.md
  src/libyuv.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

VideoFrameBuffer をダウンキャストする機能を実装
  CHANGES.md
  src/api/video_codec_common.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/video/video_frame_buffer.cc
  webrtc/src/webrtc_c/api/video/video_frame_buffer.h
Due: cargo-fmt, cargo-clippy, clang-format

単純な関数は mut にしない
  src/api/video_codec_common.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

chroma_width, chroma_height の修正
  webrtc/src/webrtc_c/api/video/i420_buffer.cc
  webrtc/src/webrtc_c/api/video/nv12_buffer.cc
Due: clang-format

VideoFrameBuffer を扱えるようにしてユーザー側でカスタム可能にする (#43)
  CHANGES.md
  examples/whep/src/main.rs
  examples/whip/src/main.rs
  src/api/video_codec_common.rs
  src/api/video_encoder.rs
  src/libyuv.rs
  src/ref_count.rs
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/api/video/i420_buffer.cc
  webrtc/src/webrtc_c/api/video/i420_buffer.h
  webrtc/src/webrtc_c/api/video/nv12_buffer.cc
  webrtc/src/webrtc_c/api/video/nv12_buffer.h
  webrtc/src/webrtc_c/api/video/video_frame.cc
  webrtc/src/webrtc_c/api/video/video_frame.h
  webrtc/src/webrtc_c/api/video/video_frame_buffer.cc
  webrtc/src/webrtc_c/api/video/video_frame_buffer.h
  webrtc/src/whep.c
  webrtc/src/whip.c
Due: cargo-fmt, cargo-clippy, clang-format

VideoFrame::builder() で構築可能にして、設定できる値を増やす
  CHANGES.md
  examples/whip/src/main.rs
  src/api/video_codec_common.rs
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/api/video/color_space.cc
  webrtc/src/webrtc_c/api/video/color_space.h
  webrtc/src/webrtc_c/api/video/video_frame.cc
  webrtc/src/webrtc_c/api/video/video_frame.h
  webrtc/src/webrtc_c/api/video/video_rotation.cc
  webrtc/src/webrtc_c/api/video/video_rotation.h
  webrtc/src/whip.c
Due: cargo-fmt, cargo-clippy, clang-format

VideoFrame::builder() で構築可能にして、設定できる値を増やす (#44)
  CHANGES.md
  examples/whip/src/main.rs
  src/api/video_codec_common.rs
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/api/video/color_space.cc
  webrtc/src/webrtc_c/api/video/color_space.h
  webrtc/src/webrtc_c/api/video/video_frame.cc
  webrtc/src/webrtc_c/api/video/video_frame.h
  webrtc/src/webrtc_c/api/video/video_rotation.cc
  webrtc/src/webrtc_c/api/video/video_rotation.h
  webrtc/src/whip.c
Due: cargo-fmt, cargo-clippy, clang-format

format と iwyu
  webrtc/src/webrtc_c/api/video/color_space.cc
  webrtc/src/webrtc_c/api/video/i420_buffer.cc
  webrtc/src/webrtc_c/api/video/nv12_buffer.cc
  webrtc/src/webrtc_c/api/video/video_frame.cc
  webrtc/src/webrtc_c/api/video/video_frame.h
  webrtc/src/webrtc_c/api/video/video_frame_buffer.cc
  webrtc/src/webrtc_c/api/video/video_frame_buffer.h
  webrtc/src/webrtc_c/api/video/video_rotation.cc
Due: clang-format

README.md 更新
  README.md
Due: none

libyuv で NV12Buffer や I420Buffer を使うのをやめる
  CHANGES.md
  examples/whep/src/main.rs
  examples/whip/src/main.rs
  src/libyuv.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

clippy
  src/libyuv.rs
Due: cargo-fmt, cargo-clippy

戻り値じゃなくて &mut [u8] の引数にする
  CHANGES.md
  examples/whep/src/main.rs
  examples/whip/src/main.rs
  src/libyuv.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

yuv 全部同時に可変借用する機能を追加
  CHANGES.md
  src/api/video_codec_common.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

cargo fmt
  src/tests.rs
Due: cargo-fmt, cargo-clippy

[canary] Bump version to 0.146.3-canary.0
  Cargo.lock
  Cargo.toml
Due: none

prebuilt バイナリに C ヘッダーを含める
  .github/workflows/release.yml
  CHANGES.md
Due: none

[canary] Bump version to 0.146.3-canary.1
  Cargo.lock
  Cargo.toml
Due: none

prebuilt バイナリに C ヘッダーを含める (#45)
  .github/workflows/release.yml
  CHANGES.md
  Cargo.lock
  Cargo.toml
Due: none

バージョンを上げる
  Cargo.lock
  Cargo.toml
Due: none

変更履歴を更新する
  CHANGES.md
Due: none

[canary] Bump version to 0.146.3-canary.2
  Cargo.lock
  Cargo.toml
Due: none

iOS, macOS 向けの機能を追加
  CHANGES.md
  prek.toml
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/ios.h
  webrtc/src/webrtc_c/sdk/objc/components/video_codec/RTCDefaultVideoDecoderFactory.h
  webrtc/src/webrtc_c/sdk/objc/components/video_codec/RTCDefaultVideoDecoderFactory.mm
  webrtc/src/webrtc_c/sdk/objc/components/video_codec/RTCDefaultVideoEncoderFactory.h
  webrtc/src/webrtc_c/sdk/objc/components/video_codec/RTCDefaultVideoEncoderFactory.mm
  webrtc/src/webrtc_c/sdk/objc/native/api/video_decoder_factory.h
  webrtc/src/webrtc_c/sdk/objc/native/api/video_decoder_factory.mm
  webrtc/src/webrtc_c/sdk/objc/native/api/video_encoder_factory.h
  webrtc/src/webrtc_c/sdk/objc/native/api/video_encoder_factory.mm
Due: cargo-fmt, cargo-clippy, clang-format

Android 向けの機能を追加
  CHANGES.md
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c/android.h
  webrtc/src/webrtc_c/jni_export.cc
  webrtc/src/webrtc_c/jni_export.h
  webrtc/src/webrtc_c/sdk/android/native_api/codecs/wrapper.cc
  webrtc/src/webrtc_c/sdk/android/native_api/codecs/wrapper.h
  webrtc/src/webrtc_c/sdk/android/native_api/jni/class_loader.cc
  webrtc/src/webrtc_c/sdk/android/native_api/jni/class_loader.h
Due: cargo-fmt, cargo-clippy, clang-format
