Repository shiguredo/webrtc-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, clang-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
      - id: clang-format
        name: clang-format
        entry: clang-format --dry-run --Werror
        language: system
        types_or: [c, c++]
        files: ^webrtc/src/

ビルドエラーを修正する
  build.rs
  webrtc/CMakeLists.txt
Due: cargo-fmt, cargo-clippy

テスト失敗を修正
  build.rs
Due: cargo-fmt, cargo-clippy

ソート
  webrtc/CMakeLists.txt
Due: none

-ObjC フラグを不要にする
  CHANGES.md
  build.rs
  issues/SEQUENCE
  issues/closed/0008-bug-avoid-objc-link-flag-propagation.md
  webrtc/CMakeLists.txt
  webrtc/scripts/bundle_apple_static_library.sh
  webrtc/src/webrtc_c/sdk/objc/native/api/video_decoder_factory.mm
  webrtc/src/webrtc_c/sdk/objc/native/api/video_encoder_factory.mm
Due: cargo-fmt, cargo-clippy

Feature/mobile codec factory (#46)
  CHANGES.md
  build.rs
  issues/SEQUENCE
  issues/closed/0008-bug-avoid-objc-link-flag-propagation.md
  prek.toml
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/scripts/bundle_apple_static_library.sh
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/android.h
  webrtc/src/webrtc_c/ios.h
  webrtc/src/webrtc_c/jni_export.cc
  webrtc/src/webrtc_c/jni_export.h
  webrtc/src/webrtc_c/sdk/android/native_api/codecs/wrapper.cc
  webrtc/src/webrtc_c/sdk/android/native_api/codecs/wrapper.h
  webrtc/src/webrtc_c/sdk/android/native_api/jni/class_loader.cc
  webrtc/src/webrtc_c/sdk/android/native_api/jni/class_loader.h
  webrtc/src/webrtc_c/sdk/objc/components/video_codec/RTCDefaultVideoDecoderFactory.h
  webrtc/src/webrtc_c/sdk/objc/components/video_codec/RTCDefaultVideoDecoderFactory.mm
  webrtc/src/webrtc_c/sdk/objc/components/video_codec/RTCDefaultVideoEncoderFactory.h
  webrtc/src/webrtc_c/sdk/objc/components/video_codec/RTCDefaultVideoEncoderFactory.mm
  webrtc/src/webrtc_c/sdk/objc/native/api/video_decoder_factory.h
  webrtc/src/webrtc_c/sdk/objc/native/api/video_decoder_factory.mm
  webrtc/src/webrtc_c/sdk/objc/native/api/video_encoder_factory.h
  webrtc/src/webrtc_c/sdk/objc/native/api/video_encoder_factory.mm
Due: cargo-fmt, cargo-clippy, clang-format

SdpVideoFormat の fuzzy match 関数を追加
  CHANGES.md
  src/api/video_codec_common.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/video_codecs/sdp_video_format.cc
  webrtc/src/webrtc_c/api/video_codecs/sdp_video_format.h
Due: cargo-fmt, cargo-clippy, clang-format

SdpVideoFormat の fuzzy match 関数を追加 (#47)
  CHANGES.md
  src/api/video_codec_common.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/video_codecs/sdp_video_format.cc
  webrtc/src/webrtc_c/api/video_codecs/sdp_video_format.h
Due: cargo-fmt, cargo-clippy, clang-format

[canary] Bump version to 0.146.3-canary.3
  Cargo.lock
  Cargo.toml
Due: none

RtpEncodingParameters に bitrate_priority 等のフィールドを追加する
  CHANGES.md
  src/api/rtp.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/rtp_parameters.cc
  webrtc/src/webrtc_c/api/rtp_parameters.h
Due: cargo-fmt, cargo-clippy, clang-format

いろいろ修正
  CHANGES.md
  src/api/rtp.rs
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/api/priority.cc
  webrtc/src/webrtc_c/api/priority.h
  webrtc/src/webrtc_c/api/rtp_parameters.cc
  webrtc/src/webrtc_c/api/rtp_parameters.h
Due: cargo-fmt, cargo-clippy, clang-format

RtpEncodingParameters に bitrate_priority 等のフィールドを追加する (#48)
  CHANGES.md
  src/api/rtp.rs
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/api/priority.cc
  webrtc/src/webrtc_c/api/priority.h
  webrtc/src/webrtc_c/api/rtp_parameters.cc
  webrtc/src/webrtc_c/api/rtp_parameters.h
Due: cargo-fmt, cargo-clippy, clang-format

[canary] Bump version to 0.146.3-canary.4
  Cargo.lock
  Cargo.toml
Due: none

libwebrtc のバージョンを上げる
  Cargo.toml
Due: none

変更履歴を更新する
  CHANGES.md
Due: none

変更履歴を独立させる
  CHANGES.md
Due: none

0007 は既に完了済み
  issues/closed/0007-feature-add-get-rtp-receiver-capabilities.md
Due: none

MediaStream 系の関数を追加
  CHANGES.md
  issues/SEQUENCE
  issues/closed/0009-feature-port-media-stream-interface-c-api.md
  src/api/audio.rs
  src/api/media_stream.rs
  src/api/mod.rs
  src/api/peer_connection.rs
  src/ref_count.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/media_stream_interface.cc
  webrtc/src/webrtc_c/api/media_stream_interface.h
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
  webrtc/src/webrtc_c/common.h
  webrtc/src/webrtc_c/common.impl.h
Due: cargo-fmt, cargo-clippy, clang-format

iwyu
  webrtc/src/webrtc_c/api/media_stream_interface.cc
  webrtc/src/webrtc_c/api/priority.cc
  webrtc/src/webrtc_c/common.impl.h
Due: clang-format

定義の順序を入れ替える
  webrtc/src/webrtc_c/api/media_stream_interface.cc
  webrtc/src/webrtc_c/api/media_stream_interface.h
Due: clang-format

MediaStream 系の関数を追加 (#49)
  CHANGES.md
  issues/SEQUENCE
  issues/closed/0009-feature-port-media-stream-interface-c-api.md
  src/api/audio.rs
  src/api/media_stream.rs
  src/api/mod.rs
  src/api/peer_connection.rs
  src/ref_count.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/media_stream_interface.cc
  webrtc/src/webrtc_c/api/media_stream_interface.h
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
  webrtc/src/webrtc_c/api/priority.cc
  webrtc/src/webrtc_c/common.h
  webrtc/src/webrtc_c/common.impl.h
Due: cargo-fmt, cargo-clippy, clang-format

バージョンを上げる
  CHANGES.md
  Cargo.lock
  Cargo.toml
Due: none

[WIP] libwebrtc-m147 (#38)
  CHANGES.md
  Cargo.lock
  Cargo.toml
Due: none

コスメ
  CHANGES.md
Due: none

I420Buffer と NV12Buffer に data(), data_mut() を用意する
  CHANGES.md
  src/api/video_codec_common.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/video/i420_buffer.cc
  webrtc/src/webrtc_c/api/video/i420_buffer.h
  webrtc/src/webrtc_c/api/video/nv12_buffer.cc
  webrtc/src/webrtc_c/api/video/nv12_buffer.h
Due: cargo-fmt, cargo-clippy, clang-format

nv12_copy と i420_copy を追加
  CHANGES.md
  src/lib.rs
  src/libyuv.rs
  src/tests.rs
  webrtc/src/webrtc_c/libyuv.cc
  webrtc/src/webrtc_c/libyuv.h
Due: cargo-fmt, cargo-clippy, clang-format

I420Buffer と NV12Buffer に data(), data_mut() を追加して nv12_copy, i420_copy を追加する (#50)
  CHANGES.md
  src/api/video_codec_common.rs
  src/lib.rs
  src/libyuv.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/video/i420_buffer.cc
  webrtc/src/webrtc_c/api/video/i420_buffer.h
  webrtc/src/webrtc_c/api/video/nv12_buffer.cc
  webrtc/src/webrtc_c/api/video/nv12_buffer.h
  webrtc/src/webrtc_c/libyuv.cc
  webrtc/src/webrtc_c/libyuv.h
Due: cargo-fmt, cargo-clippy, clang-format

[canary] Bump version to 0.147.1-canary.0
  Cargo.lock
  Cargo.toml
Due: none

VideoEncoderFactory で SimulcastEncoderAdapter を使用するようにする
  webrtc/src/webrtc_c/api/video_codecs/video_encoder_factory.cc
Due: clang-format

テストの VideoEncoderFactoryHandler に get_supported_formats を追加する
  src/tests.rs
Due: cargo-fmt, cargo-clippy

SimulcastEncoderAdapter に合わせてテストを修正する
  src/tests.rs
Due: cargo-fmt, cargo-clippy

テスト名を実態に合わせて修正し CHANGES.md の種別を [ADD] に変更する
  CHANGES.md
  src/tests.rs
Due: cargo-fmt, cargo-clippy

VideoCodec と VideoEncoderSettings の生成 API を追加してテストカバレッジを回復する
  src/api/video_codec_common.rs
  src/api/video_encoder.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/video_codecs/video_codec.cc
  webrtc/src/webrtc_c/api/video_codecs/video_codec.h
Due: cargo-fmt, cargo-clippy, clang-format

Video*Factory::create の戻り値の型を変更する
  CHANGES.md
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

RULES.md 修正
  webrtc/RULES.md
Due: none

SimulcastEncoderAdapter を追加
  CHANGES.md
  src/api/video_encoder.rs
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/media/engine/simulcast_encoder_adapter.cc
  webrtc/src/webrtc_c/media/engine/simulcast_encoder_adapter.h
Due: cargo-fmt, cargo-clippy, clang-format

SimulcastEncoderAdapter を追加 (#51)
  CHANGES.md
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/tests.rs
  webrtc/CMakeLists.txt
  webrtc/RULES.md
  webrtc/src/webrtc_c.h
  webrtc/src/webrtc_c/media/engine/simulcast_encoder_adapter.cc
  webrtc/src/webrtc_c/media/engine/simulcast_encoder_adapter.h
Due: cargo-fmt, cargo-clippy, clang-format

[canary] Bump version to 0.147.1-canary.1
  Cargo.lock
  Cargo.toml
Due: none

prebuilt パッケージに `LICENSE` と `THIRD_PARTY_LICENSES.md` を同梱する
  .github/workflows/release.yml
  CHANGES.md
Due: none
