Repository shiguredo/webrtc-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, clang-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
      - id: clang-format
        name: clang-format
        entry: clang-format --dry-run --Werror
        language: system
        types_or: [c, c++]
        files: ^webrtc/src/

0045 polished webrtc_c のログ固定バッファによる切り詰めを緩和する
  issues/0045-bug-webrtc-c-log-truncation-buffer.md
Due: none

0074 polished ObjC ビデオコーデックファクトリの二重リテインによるメモリリーク
  issues/0074-bug-objc-factory-double-retain.md
Due: none

0076 polished Thread::blocking_call に F: Send + 'static 境界がない
  issues/0076-bug-thread-blocking-call-send-bound.md
Due: none

0075 polished CreateModularPeerConnectionFactoryWithContext の signaling_thread null ガード欠落
  issues/0075-bug-create-modular-signaling-thread-null-guard.md
Due: none

0077 polished get_stats のコールバック未発火時に user_data の Box がリークする
  issues/0077-bug-get-stats-callback-box-leak.md
Due: none

0078 polished ScopedRef::from_raw が safe で公開され double-free を許す
  issues/0078-bug-scoped-ref-from-raw-safety.md
Due: none

0080 polished convert_to_i420 が src_frame の必要長を検証していない
  issues/0080-bug-libyuv-convert-to-i420-src-len-check.md
Due: none

0079 polished observer / sink を登録したまま drop した場合の use-after-free の契約を文書化する
  issues/0079-bug-observer-sink-lifetime-contract.md
Due: none

0081-0082 open
  issues/0081-add-observer-sink-drop-detection.md
  issues/0082-doc-one-shot-observer-lifetime-contract.md
  issues/SEQUENCE
Due: none

VP9 配列アクセッサの境界チェックを追加する
  src/api/video_codec_specifics.rs
  src/tests.rs
  webrtc/src/webrtc_c/modules/video_coding/codecs/vp9/include/vp9_globals.cc
  webrtc/src/webrtc_c/modules/video_coding/codecs/vp9/include/vp9_globals.h
Due: cargo-fmt, cargo-clippy, clang-format

境界チェックは C ラッパーで行わない方針を明記する
  webrtc/RULES.md
Due: none

VideoCodec の simulcast 境界チェックを Rust 側に移す
  src/api/video_codec_common.rs
  webrtc/src/webrtc_c/api/video_codecs/video_codec.cc
  webrtc/src/webrtc_c/api/video_codecs/video_codec.h
Due: cargo-fmt, cargo-clippy, clang-format

定数アクセサを constants モジュールに集約する
  src/api/video_codec_common.rs
  src/api/video_codec_specifics.rs
  src/api/video_encoder.rs
  src/constants.rs
  src/lib.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

set_metadata の受信側制約をドキュメント化する
  src/api/frame_transformer.rs
Due: cargo-fmt, cargo-clippy

codec specifics に Clone を追加し null 時の state リークを修正する
  src/api/frame_transformer.rs
  src/api/video_codec_specifics.rs
  src/api/video_encoder.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

変更履歴に公開 API の追加と破壊的変更を反映する
  CHANGES.md
Due: none

0071 解決方法を追記する
  issues/0071-add-dummy-audio-support.md
Due: none

0071 closed ダミー PCM 音声データを注入できる DummyAudioSource を C ラッパーに追加する
  issues/closed/0071-add-dummy-audio-support.md
Due: none

0072 bindgen 生成時の NDEBUG 定義をビルドタイプに一致させる
  build.rs
Due: cargo-fmt, cargo-clippy

0072 解決方法を追記する
  issues/0072-add-debug-build-support.md
Due: none

0072 closed libwebrtc のデバッグビルドに対応する
  issues/closed/0072-add-debug-build-support.md
Due: none

0030 解決方法を追記する
  issues/0030-bug-webrtc-c-ssl-cert-chain-get-lifetime.md
Due: none

0030 closed SSLCertChain_Get が返す借用ポインタの寿命を明確化する
  issues/closed/0030-bug-webrtc-c-ssl-cert-chain-get-lifetime.md
Due: none

0031 webrtc_Thread_Start の戻り値型を bool から int に変更する
  issues/0031-bug-webrtc-c-thread-start-return-and-quit.md
Due: none

0045 ログの切り詰めを vsnprintf の二度呼による動的確保で解消する
  issues/0045-bug-webrtc-c-log-truncation-buffer.md
Due: none

0075 CreateModularPeerConnectionFactoryWithContext が薄いラッパーでない理由をコメントに明記する
  issues/0075-bug-create-modular-signaling-thread-null-guard.md
  issues/0075-doc-create-modular-with-context-note.md
Due: none

0078 ScopedRef 系の内部機構の公開を pub(crate) 化する
  issues/0078-bug-scoped-ref-from-raw-safety.md
Due: none

0079 observer / sink を登録したまま drop してはならない契約を Rustdoc に明記する
  CHANGES.md
  src/api/audio.rs
  src/api/data_channel.rs
  src/api/dtls_transport.rs
  src/api/peer_connection.rs
  src/api/video.rs
Due: cargo-fmt, cargo-clippy

0079 解決方法を追記する
  issues/0079-bug-observer-sink-lifetime-contract.md
Due: none

0079 closed observer / sink を登録したまま drop した場合の use-after-free の契約を文書化する
  issues/closed/0079-bug-observer-sink-lifetime-contract.md
Due: none

0081 解決方法を追記する
  issues/0081-add-observer-sink-drop-detection.md
Due: none

0081 closed observer / sink を登録したまま drop した場合の実行時検出機構を追加する
  issues/closed/0081-add-observer-sink-drop-detection.md
Due: none

0082 解決方法を追記する
  issues/0082-doc-one-shot-observer-lifetime-contract.md
Due: none

0082 closed 1 回限り observer のライフタイム契約を文書化する
  issues/closed/0082-doc-one-shot-observer-lifetime-contract.md
Due: none

0031 webrtc_Thread_Start の起動成否を伝える
  CHANGES.md
  src/rtc_base/thread.rs
  src/tests.rs
  webrtc/src/webrtc_c/rtc_base/thread.cc
  webrtc/src/webrtc_c/rtc_base/thread.h
Due: cargo-fmt, cargo-clippy, clang-format

0031 解決方法を追記する
  issues/0031-bug-webrtc-c-thread-start-return-and-quit.md
Due: none

0031 closed webrtc_Thread_Start の戻り値破棄に対処する
  issues/closed/0031-bug-webrtc-c-thread-start-return-and-quit.md
Due: none

0083-0085 open
  issues/0083-add-webrtc-c-thread-quit.md
  issues/0084-bug-webrtc-c-thread-sleepms-return-value.md
  issues/0085-bug-thread-blocking-call-r-uninitialized-return.md
  issues/SEQUENCE
Due: none

webrtc_Thread_Start の起動成否を伝える (#68)
  CHANGES.md
  issues/closed/0031-bug-webrtc-c-thread-start-return-and-quit.md
  src/rtc_base/thread.rs
  src/tests.rs
  webrtc/src/webrtc_c/rtc_base/thread.cc
  webrtc/src/webrtc_c/rtc_base/thread.h
Due: cargo-fmt, cargo-clippy, clang-format
