Repository shiguredo/webrtc-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, clang-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
      - id: clang-format
        name: clang-format
        entry: clang-format --dry-run --Werror
        language: system
        types_or: [c, c++]
        files: ^webrtc/src/

インクルードパス修正
  webrtc/src/webrtc_c/api/video_codecs/video_decoder_factory.cc
  webrtc/src/webrtc_c/api/video_codecs/video_encoder_factory.cc
Due: clang-format

リネーム
  webrtc/src/webrtc_c/api/video_codecs/video_decoder.cc
  webrtc/src/webrtc_c/api/video_codecs/video_decoder_factory.cc
  webrtc/src/webrtc_c/api/video_codecs/video_encoder.cc
  webrtc/src/webrtc_c/api/video_codecs/video_encoder_factory.cc
Due: clang-format

README から未使用の WEBRTC_C_LIB_PATH 環境変数の記載を削除する
  README.md
Due: none

Ref 型と所有型の関数を揃える
  src/api/audio.rs
  src/api/environment.rs
  src/api/peer_connection.rs
  src/api/rtp.rs
  src/api/video.rs
  src/cxxstd.rs
Due: cargo-fmt, cargo-clippy

ファイルを分ける
  examples/whip/src/main.rs
  src/api/mod.rs
  src/api/video.rs
  src/api/video_codec_common.rs
  src/api/video_decoder.rs
  src/api/video_encoder.rs
Due: cargo-fmt, cargo-clippy

Linux ARM64 向けクロスコンパイル対応を追加
  .github/workflows/ci.yml
  CHANGES.md
  build.rs
  examples/whep/src/main.rs
  examples/whip/src/main.rs
  webrtc/CMakeLists.txt
Due: cargo-fmt, cargo-clippy

prebuilt libwebrtc_c.a の配布対応を追加
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGES.md
  Cargo.lock
  Cargo.toml
  README.md
  build.rs
Due: cargo-fmt, cargo-clippy

コード整理
  src/api/video.rs
  src/api/video_codec_common.rs
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/video/i420_buffer.cc
  webrtc/src/webrtc_c/api/video/i420_buffer.h
  webrtc/src/webrtc_c/api/video_codecs/video_codec.cc
  webrtc/src/webrtc_c/api/video_codecs/video_codec.h
  webrtc/src/webrtc_c/api/video_codecs/video_decoder.cc
  webrtc/src/webrtc_c/api/video_codecs/video_encoder.cc
Due: cargo-fmt, cargo-clippy, clang-format

テスト整理
  src/tests.rs
Due: cargo-fmt, cargo-clippy

状態を書き換える関数は mut にする
  examples/whep/src/main.rs
  examples/whip/src/main.rs
  src/api/audio.rs
  src/api/data_channel.rs
  src/api/peer_connection.rs
  src/api/rtp.rs
  src/api/video.rs
  src/api/video_codec_common.rs
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/cxxstd.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

コールバックの扱い方を統一する
  src/api/audio.rs
  src/api/data_channel.rs
  src/api/peer_connection.rs
  src/api/video.rs
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/audio/audio_device_defines.cc
  webrtc/src/webrtc_c/api/audio/audio_device_defines.h
  webrtc/src/webrtc_c/api/data_channel_interface.cc
  webrtc/src/webrtc_c/api/data_channel_interface.h
  webrtc/src/webrtc_c/api/jsep.cc
  webrtc/src/webrtc_c/api/jsep.h
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
  webrtc/src/webrtc_c/api/set_local_description_observer_interface.cc
  webrtc/src/webrtc_c/api/set_local_description_observer_interface.h
  webrtc/src/webrtc_c/api/set_remote_description_observer_interface.cc
  webrtc/src/webrtc_c/api/set_remote_description_observer_interface.h
  webrtc/src/webrtc_c/api/video/video_sink_interface.cc
  webrtc/src/webrtc_c/api/video/video_sink_interface.h
Due: cargo-fmt, cargo-clippy, clang-format

CHANGES 更新
  CHANGES.md
Due: none

README 更新
  README.md
Due: none

ADM を audio.rs から別ファイルに分離
  CHANGES.md
  src/api/audio.rs
  src/api/audio_device_module.rs
  src/api/mod.rs
Due: cargo-fmt, cargo-clippy

mmdebstrap を --mode=unshare に変更して sudo を不要にする
  .github/workflows/ci.yml
Due: none

sysroot の構築方法を変えるのと、クロスコンパイル前提にする
  .github/workflows/ci.yml
  .gitignore
  webrtc/CMakeLists.txt
Due: none

update と security も含める
  .github/workflows/ci.yml
Due: none

trixie に security は無いらしい
  .github/workflows/ci.yml
Due: none

スイートの指定方法を変える
  .github/workflows/ci.yml
  build.rs
Due: cargo-fmt, cargo-clippy

ビデオデコーダーコールバック部分と、他足りてなかったところを追加
  src/api/video_codec_common.rs
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/video/video_frame.cc
  webrtc/src/webrtc_c/api/video/video_frame.h
  webrtc/src/webrtc_c/api/video_codecs/video_decoder.cc
  webrtc/src/webrtc_c/api/video_codecs/video_decoder.h
  webrtc/src/webrtc_c/api/video_codecs/video_decoder_factory.cc
  webrtc/src/webrtc_c/api/video_codecs/video_decoder_factory.h
  webrtc/src/webrtc_c/api/video_codecs/video_encoder_factory.cc
  webrtc/src/webrtc_c/api/video_codecs/video_encoder_factory.h
Due: cargo-fmt, cargo-clippy, clang-format

コード整理
  CHANGES.md
  examples/whip/src/main.rs
  src/api/rtp.rs
  src/api/video_codec_common.rs
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/video/video_frame.cc
  webrtc/src/webrtc_c/api/video/video_frame.h
  webrtc/src/whip.c
Due: cargo-fmt, cargo-clippy, clang-format

SdpVideoFormat の copy をちゃんと実装する
  CHANGES.md
  src/api/video_codec_common.rs
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/video_codecs/sdp_video_format.cc
  webrtc/src/webrtc_c/api/video_codecs/sdp_video_format.h
Due: cargo-fmt, cargo-clippy, clang-format

sysroot を設定ファイル化する
  .github/workflows/ci.yml
  sysroot/raspberry-pi-os_armv8.json
  sysroot/ubuntu-22.04_armv8.json
  sysroot/ubuntu-24.04_armv8.json
Due: none

Slack 通知を rtCamp/action-slack-notify から shiguredo/github-actions の slack-notify に変更する
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

設定が間違ってたのを修正するのと最新 sysroot に追従
  sysroot/raspberry-pi-os_armv8.json
  sysroot/ubuntu-22.04_armv8.json
  sysroot/ubuntu-24.04_armv8.json
Due: none

システムヘッダーのインクルードを入れる
  sysroot/raspberry-pi-os_armv8.json
  sysroot/ubuntu-22.04_armv8.json
  sysroot/ubuntu-24.04_armv8.json
Due: none

新しい sysroot のやり方に対応する
  .github/workflows/release.yml
  build.rs
Due: cargo-fmt, cargo-clippy

source-build 入れ忘れてた
  .github/workflows/ci.yml
Due: none

0.145.2-canary.2
  Cargo.toml
Due: none

クロスビルドとそうでないビルドを完全に別のジョブに分ける
  .github/workflows/release.yml
Due: none

panic ベースから Result ベースにする
  Cargo.lock
  build.rs
Due: cargo-fmt, cargo-clippy

変更履歴を更新する
  CHANGES.md
Due: none

サポートプラットフォームの Ubuntu 22.04 LTS x86_64 をリストに追加する
  README.md
Due: none

更新する
  CHANGES.md
  Cargo.lock
  Cargo.toml
Due: none

Raspberry Pi OS (64-bit) arm64 をサポートプラットフォームに追加する
  README.md
Due: none

バージョンを "0.145.2" に更新する
  Cargo.lock
  Cargo.toml
Due: none

prebuilt libwebrtc_c のビルドをリリースビルドに変更する
  .github/workflows/release.yml
Due: none

0.145.2-canary.3 にバージョンを上げる
  Cargo.toml
Due: none

prebuilt libwebrtc_c のビルドをリリースビルドに変更する (#11)
  .github/workflows/release.yml
Due: none

変更履歴にリリース日とバージョン情報を追加する
  CHANGES.md
Due: none
