Repository shiguredo/webrtc-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, clang-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
      - id: clang-format
        name: clang-format
        entry: clang-format --dry-run --Werror
        language: system
        types_or: [c, c++]
        files: ^webrtc/src/

README.md の対応 API セクションに不足していた型を追記する
  README.md
Due: none

ci.yml を main ブランチとタグでは実行しないようにする
  .github/workflows/ci.yml
  CHANGES.md
Due: none

if: false 外し洩れ
  .github/workflows/release.yml
Due: none

nullptr が返されない前提で処理をする
  src/api/video_decoder.rs
  src/api/video_encoder.rs
Due: cargo-fmt, cargo-clippy

コンフリクト修正ミス
  CHANGES.md
Due: none

0.145.3-canary.1
  Cargo.toml
Due: none

lock ファイル更新
  Cargo.lock
Due: none

毎回リビルドが走ってた
  build.rs
Due: cargo-fmt, cargo-clippy

libwebrtc m146 (m146.7680.0.0) に上げる
  .vscode/launch.json
  CHANGES.md
  Cargo.lock
  Cargo.toml
  README.md
  webrtc/deps.json
Due: none

shiguredo_cmake を利用する
  CHANGES.md
  Cargo.lock
  Cargo.toml
  build.rs
Due: cargo-fmt, cargo-clippy

prebuilt ダウンロードを curl + tar に変更する
  Cargo.lock
  Cargo.toml
  README.md
  build.rs
Due: cargo-fmt, cargo-clippy

libwebrtc m146 (m146.7680.0.0) に上げる (#14)
  .vscode/launch.json
  CHANGES.md
  Cargo.lock
  Cargo.toml
  README.md
  webrtc/deps.json
Due: none

CHANGES.md を更新する
  CHANGES.md
Due: none

prebuilt ダウンロードを curl + tar に変更する (#15)
  CHANGES.md
  Cargo.lock
  Cargo.toml
  README.md
  build.rs
Due: cargo-fmt, cargo-clippy

prebuilt ダウンロード時に SHA256 チェックサムを検証する
  .github/workflows/release.yml
  .pre-commit-config.yaml
  CHANGES.md
  build.rs
Due: cargo-fmt, cargo-clippy

CHANGES.md に SHA256 チェックサムファイル生成の変更履歴を追加する
  CHANGES.md
Due: none

prebuilt ダウンロード時に SHA256 チェックサムを検証する (#16)
  .github/workflows/release.yml
  .pre-commit-config.yaml
  CHANGES.md
  build.rs
Due: cargo-fmt, cargo-clippy

Windows の SHA256 チェックを certutil -hashfile に変更する
  build.rs
Due: cargo-fmt, cargo-clippy

Windows の SHA256 チェックを certutil -hashfile に変更する (#17)
  build.rs
Due: cargo-fmt, cargo-clippy

ビデオコーデックのコールバック API を状態付き generic 形式に統一する
  CHANGES.md
  README.md
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

cargo-shiguredo-sysroot を git ではなく crates.io からインストールする
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

クレート名を shiguredo_sysroot に修正する
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Video*Callback 系のコールバックを trait にする
  CHANGES.md
  README.md
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

Box<dyn Handler> にして Box<T> 向けの実装を削除する
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

まだ残ってた
  src/api/video_encoder.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

cargo fmt
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/tests.rs
Due: cargo-fmt, cargo-clippy

引数に _ プリフィックスを使わない
  src/api/video_decoder.rs
  src/api/video_encoder.rs
Due: cargo-fmt, cargo-clippy

ほぼ全ての *Callback 系のコールバックを trait にする
  CHANGES.md
  README.md
  examples/whep/src/main.rs
  examples/whip/src/main.rs
  src/api/audio_device_module.rs
  src/api/data_channel.rs
  src/api/peer_connection.rs
  src/api/video.rs
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
Due: cargo-fmt, cargo-clippy, clang-format

cargo fmt
  src/api/data_channel.rs
  src/api/peer_connection.rs
  src/api/video_decoder.rs
  src/api/video_encoder.rs
Due: cargo-fmt, cargo-clippy

use する
  examples/whep/src/main.rs
  examples/whip/src/main.rs
Due: cargo-fmt, cargo-clippy

i420_to_nv12 を追加
  CHANGES.md
  README.md
  examples/whep/src/main.rs
  src/lib.rs
  src/libyuv.rs
  src/tests.rs
  webrtc/src/webrtc_c/libyuv.cc
  webrtc/src/webrtc_c/libyuv.h
Due: cargo-fmt, cargo-clippy, clang-format

cargo fmt
  examples/whep/src/main.rs
Due: cargo-fmt, cargo-clippy

DtlsTransportInterface と PeerConnection の ICE/DTLS 関連 API を追加
  webrtc/src/webrtc_c/api/dtls_transport_interface.cc
  webrtc/src/webrtc_c/api/dtls_transport_interface.h
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
Due: clang-format

PeerConnectionObserverHandler に IceConnectionState / IceGatheringState / IceCandidateError コールバックを追加
  CHANGES.md
  src/api/peer_connection.rs
Due: cargo-fmt, cargo-clippy

CHANGES.md のエントリ順序を整理
  CHANGES.md
Due: none

canary.py を追加する
  canary.py
Due: none

[canary] Bump version to 0.146.0-canary.1
  Cargo.lock
  Cargo.toml
Due: none

version() 関数を追加する
  CHANGES.md
  src/lib.rs
Due: cargo-fmt, cargo-clippy

[canary] Bump version to 0.146.0-canary.2
  Cargo.lock
  Cargo.toml
Due: none

Rust SDK 作るうえで必要になった修正
  CHANGES.md
  README.md
  src/api/video_codec_common.rs
  src/api/video_decoder.rs
  src/api/video_encoder.rs
  src/tests.rs
  webrtc/src/webrtc_c/api/dtls_transport_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.cc
  webrtc/src/webrtc_c/api/peer_connection_interface.h
  webrtc/src/webrtc_c/api/video_codecs/sdp_video_format.cc
  webrtc/src/webrtc_c/api/video_codecs/sdp_video_format.h
  webrtc/src/webrtc_c/api/video_codecs/video_decoder.cc
  webrtc/src/webrtc_c/api/video_codecs/video_decoder.h
  webrtc/src/webrtc_c/api/video_codecs/video_encoder.cc
  webrtc/src/webrtc_c/api/video_codecs/video_encoder.h
Due: cargo-fmt, cargo-clippy, clang-format
